<!DOCTYPE html>
<html xmlns:th="http://wwww.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login to QUANTA</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="icon" href="https://cdn.discordapp.com/attachments/815844122673938453/1051739745752985720/favicon.ico" type="image/x-icon" />
    <link href='https://fonts.googleapis.com/css?family=DM Sans' rel='stylesheet'>
    <style>
        .login {
            min-height: 100vh;
          }
          
          .bg-image {
            background-image: url('https://i.ibb.co/416kLfC/quantum.png');
            background-size: cover;
            background-position: center;
          }
          
          .login-heading {
            font-weight: 300;
          }    
          
          body {
            font-family: 'DM Sans';
            overflow-y: hidden;
          }

          .alert {
            position:fixed;
            top: 2rem;
            left: 5%;
            width: 90%;
            z-index:9999;
          }

    </style>
</head>
<body>
  <div class="alert alert-danger alert-dismissible d-flex align-items-center" role="alert" th:if="${param.error}" >
      <div class="d-flex align-items-center">
          <p style="margin-bottom: 0px; margin-top: 0px;"> <strong>Login Gagal!</strong> Cobalah untuk memasukkan email dan password yang sesuai. Jika sudah sesuai namun tetap tidak berhasil, harap segera hubungi admin. </p>
      </div>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
    <div class="container-fluid ps-md-0">
        <div class="row g-0">
          <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
          <div class="col-md-8 col-lg-6">
            <div class="login d-flex align-items-center py-5">
              <div class="container">
                <div class="row">
                  <div class="col-md-9 col-lg-8 mx-auto">
      
                    <!-- Login Form -->
                    <form th:action="@{/login}" method="POST">
      
                        <a href="https://ibb.co/VTxrg6m"><img class="img-fluid" src="https://i.ibb.co/89bTrkc/quantum-logo.png" alt="quantum-logo" border="0"></a>

                        <h3 class="fw-normal mb-3 pb-3 text-center" style="letter-spacing: 1px;">Login untuk Masuk ke Sistem QUANTA</h3>
            
                        <div class="form-outline mb-4">
                          <input type="email" id="form2Example18" class="form-control form-control-lg" name="email" placeholder="Alamat Email" required/>
                        </div>
            
                        <div class="form-outline mb-4">
                          <input type="password" id="form2Example28" class="form-control form-control-lg" name="password" placeholder="Password" required/>
                        </div>
            
                        <div class="pt-1 mb-4">
                          <button style="background-color: #31318B;" class="btn btn-primary btn-lg w-100" type="submit">Login</button>
                        </div>
            
                        <p class="text-center">Belum memiliki akun? <a href="https://wa.link/ch2g9f" class="link-info">Hubungi Admin</a></p>
            
                      </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>    
</body>
<script type="text/javascript">

    $(document).ready( () => {

        window.setTimeout(function() {
            $(".alert").fadeTo(500, 0).slideUp(1000, function(){
                $(this).remove();
            });
        }, 4000);

    });

</script>
</html>