<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <title>Tambah Kelas</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <object th:include="fragments/fragment :: style" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar (${'manajemen'},${isKakakAsuh})"></nav>
<div class="container">
    <div class="card m-4 p-4">
        <div class="card-body">
            <div class="justify-content-center">
                <h2 style="font-weight: bold">Tambah Kelas</h2>
                <br>
                <form th:action="@{/kelas/add}" th:object="${kelas}" method="POST">

                    <div class="mb-3">
                        Nama <br>
                        <input required class="form-control" type="text" th:field="*{name}"/>
                    </div>

                    <div class="mb-3">
                        Jadwal
                        <select required class="form-select" th:field="*{days}">
                            <option th:each="jadwalOpt : ${T(com.projectpop.quanta.kelas.model.JadwalAvail).values()}"
                                    th:value="${jadwalOpt}" th:text="${jadwalOpt.displayValue}"></option>
                        </select>
                    </div>

                    <div class="mb-3">
                        Jenjang Kelas
                        <select required class="form-select" th:field="*{jenjang}">
                            <option th:each="jenjangOpt : ${T(com.projectpop.quanta.siswa.model.Jenjang).values()}"
                                    th:value="${jenjangOpt}" th:text="${jenjangOpt.displayValue}"></option>
                        </select>
                    </div>

                    <div class="mb-3">
                        Kakak Asuh
                        <select required class="form-select" th:field="*{kakakAsuh.id}">
                            <option th:each="kkAsuhOpt : ${listKakakAsuh}"
                                    th:value="${kkAsuhOpt.id}" th:text="${kkAsuhOpt.name} + '  (' + ${kkAsuhOpt.email} + ')'"></option>
                        </select>
                    </div>

                    <div class="mb-3">
                        Tahun Ajar
                        <select required class="form-select" th:field="*{tahunAjar.id}">
                            <option th:each="tahunOpt : ${listTahunAjar}"
                                    th:value="${tahunOpt.id}" th:text="${tahunOpt.name}"></option>
                        </select>
                    </div>

                    <table class="table">
                        <thead>
                        <th>Siswa</th>
                        <th>
                            <button class="btn" type="submit" name="addRowSiswa" style="background-color: #31318B; color: white;">Tambah Siswa</button>
                        </th>
                        </thead>
                        <tbody>
                        <tr th:each="siswa, iterationStatus : *{listSiswaKelas}">
                            <td>
                                <select name="id"
                                        th:field="*{listSiswaKelas[__${iterationStatus.index}__].siswa.id}"
                                        class="form-select">
                                    <div th:each="siswaEx, iterationStatus2: ${listSiswa}">
                                        <option th:value="${siswaEx.id}"
                                                th:text="${siswaEx.name} + '  (' + ${siswaEx.email} + ')'"></option>
                                    </div>

                                </select>
                            </td>
                            <td>
                                <button th:value="${iterationStatus.index}" class="btn btn-danger"
                                        type="submit" name="deleteRowSiswa">Hapus</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>


                    <a class="btn btn-outline-secondary" href="/kelas/" >Kembali</a>
                    <button class="btn" type="submit" name="save" style="background-color: #31318B; color: white;">Simpan</button>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>