<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <title>List Presensi Jadwal Kelas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <object th:include="fragments/fragment :: style" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar ('Presensi',${isKakakAsuh})"></nav>
<div class="alert alert-danger alert-dismissible d-flex align-items-center" role="alert" th:if="${error}" th:text="${error}">
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<div class="alert alert-success alert-dismissible d-flex align-items-center" role="alert" th:if="${success}" th:text="${success}">
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<div class="container" style=" margin-top:40px; width: 80%">
    <div class="justify-content-center">
        <div sec:authorize="hasRole('PENGAJAR')">
            <div style="margin-top: 3rem; margin-bottom: 2rem; text-align: center;">
                <h2 style="font-weight: bold; margin-bottom: 0.75rem;">Daftar Kelas yang Diajarkan Hari Ini</h2>
                <h4 style="font-weight: normal; padding-top: 4px;" th:text="${hari}+', '+ ${tanggal}+' '+${bulan}+' '+ ${tahun}"></h4>
                <h5 style="font-weight: normal; padding-top: 0px;" th:text="'Tahun ajaran ' + ${tahunAjaran}"></h5>
                <br>
            </div>
            <table style="margin-top: 100px;" class="table table-striped align-middle" id="jadwal-table">
                <thead style="background-color: #31318B; color: #ffffff">
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">Mata Pelajaran</th>
                    <th scope="col">Kelas</th>
                    <th scope="col">Ruang</th>
                    <th scope="col">Jam Mengajar</th>
                    <th scope="col">Lihat Daftar Presensi</th>
                </tr>
                </thead>
                <tbody style="text-align: left">
                <tr th:each="jadwalKelas, iterationStatus : ${jadwalKelasHariIniMap}">
                    <th scope="row" th:text="${iterationStatus.index + 1}"></th>
                    <td th:text="${jadwalKelas.getKey().mapelJadwal.name}"></td>
                    <td th:text="${jadwalKelas.getKey().kelas.name}"></td>
                    <td th:text="${jadwalKelas.getKey().ruangKelas}"></td>
                    <td th:text="${jadwalKelas.getValue()}"></td>
                    <td class="align-content-center">
                        <div th:if="${jadwalKelas.getKey().isiPresensi}">
                            <a th:href="@{/presensi/} + ${jadwalKelas.getKey().id}" type="button" class="btn btn-primary" style="display:block; width:75%;  background-color: #31318B; border-color: #31318B">
                                Isi Presensi </a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <br>
        </div>
        <br>
        <div sec:authorize="hasRole('PENGAJAR')">
            <div style="margin-top: 3rem; margin-bottom: 2rem; text-align: center;">
                <h2 style="font-weight: bold; margin-bottom: 0.75rem;">Daftar Presensi Kelas Sebelumnya</h2>
                <br>
            </div>
            <table style="margin-top: 100px;" class="table table-striped align-middle" id="jadwal-table-sebelumnya">
                <thead style="background-color: #31318B; color: #ffffff">
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">Mata Pelajaran</th>
                    <th scope="col">Pengajar</th>
                    <th scope="col">Kelas</th>
                    <th scope="col">Ruang</th>
                    <th scope="col">Tanggal Mengajar</th>
                    <th scope="col">Jam Mengajar</th>
                    <th scope="col">Lihat Daftar Presensi</th>
                </tr>
                </thead>
                <tbody style="text-align: left">
                <tr th:each="jadwalKelas, iterationStatus : ${allJadwalKelasMap}">
                    <th scope="row" th:text="${iterationStatus.index + 1}"></th>
                    <td th:text="${jadwalKelas.getKey().mapelJadwal.name}"></td>
                    <td th:text="${jadwalKelas.getKey().pengajarKelas.name}"></td>
                    <td th:text="${jadwalKelas.getKey().kelas.name}"></td>
                    <td th:text="${jadwalKelas.getKey().ruangKelas}"></td>
                    <td th:text="${jadwalKelas.getValue()[1]}"></td>
                    <td th:text="${jadwalKelas.getValue()[0]}"></td>
                    <td class="align-content-center">
                        <div sec:authorize="hasRole('PENGAJAR')">
                            <div th:if="${jadwalKelas.getKey().isiPresensi}">
                                <a th:href="@{/presensi/} + ${jadwalKelas.getKey().id}" type="button" class="btn btn-primary" style="display:block; width:75%; background-color: #31318B; border-color: #31318B">
                                    Isi Presensi </a>
                            </div>
                            <div th:unless="${jadwalKelas.getKey().isiPresensi}">
                                <a th:href="@{/presensi/read/} + ${jadwalKelas.getKey().id}" type="button" class="btn btn-sm btn-outline-primary align-content-center">
                                    Lihat Presensi </a>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <br>
        </div>
        <div sec:authorize="hasRole('ADMIN')">
            <div style="margin: auto; padding-top: 10px; padding: 20px; text-align: center">
                <h2 style="font-weight: bold; margin-bottom: 0.75rem;">Daftar Presensi Seluruh Kelas</h2>
                <br>
            </div>
            <table style="margin-top: 100px;" class="table table-striped align-middle" id="jadwal-table-seluruh">
                <thead style="background-color: #31318B; color: #ffffff">
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">Mata Pelajaran</th>
                    <th scope="col">Pengajar</th>
                    <th scope="col">Kelas</th>
                    <th scope="col">Ruang</th>
                    <th scope="col">Tanggal Mengajar</th>
                    <th scope="col">Jam Mengajar</th>
                    <th scope="col">Status</th>
                    <th scope="col">Lihat Daftar Presensi</th>
                </tr>
                </thead>
                <tbody style="text-align: left">
                <tr th:each="jadwalKelas, iterationStatus : ${allJadwalKelasForAdminMap}">
                    <th scope="row" th:text="${iterationStatus.index + 1}"></th>
                    <td th:text="${jadwalKelas.getKey().mapelJadwal.name}"></td>
                    <td th:text="${jadwalKelas.getKey().pengajarKelas.name}"></td>
                    <td th:text="${jadwalKelas.getKey().kelas.name}"></td>
                    <td th:text="${jadwalKelas.getKey().ruangKelas}"></td>
                    <td th:text="${jadwalKelas.getValue()[1]}"></td>
                    <td th:text="${jadwalKelas.getValue()[0]}"></td>
                    <td class="align-content-center">
                        <div th:if="${jadwalKelas.getKey().isiPresensi}">
                            <span class="badge badge-pill badge-info" style="color: #f7f7f7; background-color: #4083be  ">Dibuka</span>
                        </div>
                        <div th:unless="${jadwalKelas.getKey().isiPresensi}">
                            <span class="badge badge-pill badge-light" style="color: #f7f7f7; background-color: lightslategray">Ditutup</span>
                        </div>
                    </td>
                    <td class="align-content-center">
                        <a th:href="@{/presensi/read/} + ${jadwalKelas.getKey().id}" class="btn btn-sm btn-outline-primary align-content-center">
                            Lihat Presensi </a>
                    </td>
                </tr>
                </tbody>
            </table>
            <br>
        </div>
        <br>
    </div>
</div>
</body>
<script type="text/javascript">
    $(document).ready(() => {
        $('#jadwal-table').DataTable();
        $('#jadwal-table-sebelumnya').DataTable();
        $('#jadwal-table-seluruh').DataTable();
        window.setTimeout(function() {
            $(".alert").fadeTo(500, 0).slideUp(1000, function(){
                $(this).remove();
            });
        }, 2000);
    });
    // $(document).ready(() => {
    //     $('#jadwal-table-sebelumnya').DataTable();
    // });
    // $(document).ready(() => {
    //     $('#jadwal-table-seluruh').DataTable();
    // });
</script>
</html>
