<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8" >
  <title>Kelas yang Diajarkan Hari Ini</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <object th:include="fragments/fragment :: css" th:remove="tag"></object>
  <object th:include="fragments/fragment :: js" th:remove="tag"></object>
  <object th:include="fragments/fragment :: style" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar (${'Presensi'},${isKakakAsuh})"></nav>
<div class="alert alert-danger alert-dismissible d-flex align-items-center" role="alert" th:if="${error}" th:text="${error}">
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<div class="alert alert-success alert-dismissible d-flex align-items-center" role="alert" th:if="${success}" th:text="${success}">
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<div class="container" style=" margin-top:40px; width: 80%">
  <div class="justify-content-center">
    <a type="button" class="btn-link" onclick="history.back()" style="display: flex; align-items: center; text-decoration: none; color: #31318B; font-weight: normal; width: max-content">
      <span class="material-icons md-18"> arrow_back_ios </span>
      Kembali
    </a>
    <div style="margin-top: 3rem; margin-bottom: 2rem; text-align: center;">
      <h2 style="font-weight: bold; margin-bottom: 0.75rem;" th:text="Kelas +' '+ ${kelas.name}"></h2>
      <h4 style="font-weight: normal; padding-top: 4px;" th:text="${hari}+', '+ ${tanggal}+' '+${bulan}+' '+ ${tahun}"></h4>
      <h5 style="font-weight: normal; padding-top: 0px;" th:if="${tahunAjaran}" th:text="'Tahun ajaran ' + ${tahunAjaran}"></h5>
      <br>
    </div>
    <table style="margin-top: 100px;" class="table table-striped align-middle" id="presensi-filled-table">
      <thead style="background-color: #31318B; color: #ffffff">
      <tr>
        <th scope="col">No</th>
        <th scope="col">Nama</th>
        <th scope="col">Status Presensi</th>
      </tr>
      </thead>
      <tbody style="text-align: left">
      <tr th:each="presensi, iterationStatus : ${presensiModelList}">
        <td th:text="${iterationStatus.index + 1}"></td>
        <td th:text="${presensi.siswa.name} + ' - ' + ${presensi.siswa.email}"></td>
        <td th:text="${presensi.status}"></td>
      </tr>
      </tbody>
    </table>
    <br>
    </div>
</div>
</body>
<script type="text/javascript">
  $(document).ready(() => {
    $('#presensi-filled-table').DataTable();

    window.setTimeout(function() {
      $(".alert").fadeTo(500, 0).slideUp(1000, function(){
        $(this).remove();
      });
    }, 2000);

  });
</script>
</html>