<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Detail Siswa</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <link href='https://fonts.googleapis.com/css?family=DM Sans' rel='stylesheet'>
    <style>
      body {
          font-family: 'DM Sans';
      }
  </style>  
</head>
<body>
  <nav th:replace="fragments/fragment :: navbar (${'user'})"></nav>
  <a class="btn btn-link" style="color: #31318B" href="/siswa"><- List Siswa</a>
  <div class="container">
    <h2 style="font-weight: bold; text-align:center; padding:20px">Detail Siswa</h2>
    <div class="alert alert-success" role="alert" th:text="${message}" th:if="${message}"></div>
    <div class="alert alert-danger" role="alert" th:text="${errorMessage}" th:if="${errorMessage}"></div>
    <div class="container" style="width:100%;">
    <div class="card mt-3" style="background-color:#F7FAFC">
      <div class="card-body">
        <div class="container">
          <br>
          <div class="row">
            <div class="col">
              <h4 style="padding-bottom:20px; font-weight: bold;" >Data Pribadi</h4>
            </div>
            <div class="col">
              <h4 style="padding-bottom:20px; font-weight: bold;">Data Akademik</h4>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <p style="font-weight: bold; color: #31318B">Nama Lengkap</p>
            </div>
            <div class="col">
              <p th:text="${siswa.name}"></p>
            </div>
            <div class="col">
              <p style="font-weight: bold; color: #31318B">Kelas</p>
            </div>
            <div class="col">
              <p th:if="${siswa.kelasBimbel != null}" th:text="${siswa.kelasBimbel.name}"></p>
              <td th:if="${siswa.kelasBimbel == null}">-</td>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <p style="font-weight: bold; color: #31318B">Nama Panggilan</p>
            </div>
            <div class="col">
              <p th:text="${siswa.nickname}"></p>
            </div>
            <div class="col">
              <p style="font-weight: bold; color: #31318B">Jenjang</p>
            </div>
            <div class="col">
              <p th:text="'Kelas '+ ${siswa.kelas}"></p>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <p style="font-weight: bold; color: #31318B">Email</p>
            </div>
            <div class="col">
              <p th:text="${siswa.email}"></p>
            </div>
            <div class="col">
              <p style="font-weight: bold; color: #31318B">Sesi</p>
            </div>
            <div class="col">
              <p th:if="${siswa.kelasBimbel != null}" th:text="${siswa.kelasBimbel.days}"></p>
              <td th:if="${siswa.kelasBimbel == null}">-</td>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <p style="font-weight: bold; color: #31318B">Alamat</p>
            </div>
            <div class="col">
              <p th:text="${siswa.address}"></p>
            </div>
            <div class="col">
              <p style="font-weight: bold; color: #31318B">Asal Sekolah</p>
            </div>
            <div class="col">
              <p th:text="${siswa.sekolah}"></p>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <p style="font-weight: bold; color: #31318B">No. Telp</p>
            </div>
            <div class="col">
              <p th:text="${siswa.phone_num}"></p>
            </div>
            <div class="col">
              <p></p>
            </div>
            <div class="col">
              <p></p>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <p style="font-weight: bold; color: #31318B">Jenis Kelamin</p>
            </div>
            <div class="col">
              <p th:text="${siswa.gender}"></p>
            </div>
            <div class="col">
              <h4 style="padding-bottom:20px; font-weight: bold;">Data Wali</h4>
            </div>
            <div class="col">
              <p></p>
              <p></p>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <p style="font-weight: bold; color: #31318B">Tempat Lahir</p>
            </div>
            <div class="col">
              <p th:text="${siswa.pob}"></p>
            </div>
            <div class="col">
              <p style="font-weight: bold; color: #31318B">Nama Wali</p>
            </div>
            <div class="col">
              <p th:text="${siswa.ortu.name}"></p>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <p style="font-weight: bold; color: #31318B">Tanggal Lahir</p>
            </div>
            <div class="col">
              <p th:text="${siswa.dob}"></p>
            </div>
            <div class="col">
              <p style="font-weight: bold; color: #31318B">Email Wali</p>
            </div>
            <div class="col">
              <p th:text="${siswa.ortu.email}"></p>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <p style="font-weight: bold; color: #31318B">Agama</p>
            </div>
            <div class="col">
              <p th:text="${siswa.religion}"></p>
            </div>
            <div class="col">
              <p style="font-weight: bold; color: #31318B">No. Telp Wali</p>
            </div>
            <div class="col">
              <p th:text="${siswa.ortu.phone_num}"></p>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <p></p>
            </div>
            <div class="col">
              <p th:if="${siswa.isActive}">
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modal-nonaktif" style="display:block; width:100%; margin-top:20px;">
                    Non-Aktifkan
                </button>
              </p>
              <p th:if="${!siswa.isActive}">
                <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#modal-aktif" style="display:block; width:100%; margin-top:20px;">
                    Aktifkan
                </button>
              </p>
            </div>
            <div class="col">
              <button type="button" class="btn btn-primary" style="display:block; width:100%; margin-top:20px; background-color: #31318B; border-color: #31318B" >Ubah Data</button>
            </div>
            <div class="col">
              <p></p>
            </div>
          </div>
          <br>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="modal-nonaktif" tabindex="-1" role="dialog" aria-labelledby="popupLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="popupLabel"><strong>Konfirmasi Nonaktifkan Siswa</strong></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
            Apakah Anda Yakin ingin menonaktifkan siswa? </br> </br>  Berikut merupakan syarat agar siswa dapat dinonaktifkan:
            <ul>
              <li>Siswa tidak terdaftar di dalam suatu kelas</li>
              <li>Siswa tidak memiliki konsultasi yang aktif </li> 
            </ul>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
        <a type="button" class="btn btn-primary btn-danger" th:href="@{/siswa/} + ${siswa.id} + @{/inactive}">Nonaktifkan</a>
        </div>
    </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modal-aktif" tabindex="-1" role="dialog" aria-labelledby="popupLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
  <div class="modal-content">
      <div class="modal-header">
      <h5 class="modal-title" id="popupLabel"><strong>Konfirmasi Aktifkan Pengajar</strong></h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
      </button>
      </div>
      <div class="modal-body">
          Apakah Anda Yakin ingin mengaktifkan kembali siswa? </br> </br>  Pengajar yang sudah diaktifkan dapat masuk kembali ke sistem QUANTA menggunakan email dan passwordnya.
      </div>
      <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
      <a type="button" class="btn btn-primary btn-warning" th:href="@{/siswa/} + ${siswa.id} + @{/active}">Aktifkan</a>
      </div>
  </div>
  </div>
</div>

</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
</html>