<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <title>Update Wali</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <link href='https://fonts.googleapis.com/css?family=DM Sans' rel='stylesheet'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <style>
        body {
            font-family: 'DM Sans';
        }
    </style>  
</head>
<body>
<nav th:replace="fragments/fragment :: navbar (${'user'})"></nav>
<div class="container" style="width:100%">
  <div style="margin: auto; width: 80%; text-align: center; padding-top: 20px">
    <h2 style="font-weight: bold; text-align:center; padding:20px">Ubah Data Wali</h2>
    <div class="alert alert-success" role="alert" th:text="${message}" th:if="${message}"></div>
    <div class="alert alert-danger" role="alert" th:text="${errorMessage}" th:if="${errorMessage}"></div>
  </div>
    <div class="card mt-3" style="background-color:#F7FAFC">
    <div class="card-body">
      <div class="justify-content-center">
        <form th:action="@{/ortu/} + ${siswaId} + @{/update}" th:object="${ortu}" method="POST">
          <input type="hidden" th:field="*{id}" />
          <div class="container">
            <div class="row">
                <div class="col">
                  <h4 style="padding-bottom:20px; font-weight: bold;" >Data Utama</h4>
                </div>
                <div class="col">
                  <h4 style="padding-bottom:20px; font-weight: bold;">Data Pelengkap</h4>
                </div>
            </div>
            <div class="row">
                <div class="col">
                  <p style="font-weight: bold; color: #31318B">Nama Lengkap</p>
                </div>
                <div class="col-4">
                    <input class="form-control" type="text" placeholder="Nama Lengkap" name="name" th:value="*{name}" required/>
                </div>
                <div class="col">
                  <p style="font-weight: bold; color: #31318B">Pekerjaan</p>
                </div>
                <div class="col-4">
                  <input class="form-control" type="text" placeholder="Pekerjaan" name="job" th:value="*{job}" required/>
                </div>
            </div>
            <div class="row">
                <div class="col">
                  <p style="font-weight: bold; color: #31318B">Nama Panggilan</p>
                </div>
                <div class="col-4">
                    <input class="form-control" type="text" placeholder="Nama Panggilan" name="nickname" th:value="*{nickname}" required/>
                </div>
                <div class="col">
                  <p style="font-weight: bold; color: #31318B">Tempat Bekerja</p>
                </div>
                <div class="col-4">
                  <input class="form-control" type="text" placeholder="Tempat Bekerja" name="kantor" th:value="*{kantor}" required/> 
                </div>
            </div>
            <div class="row">
              <div class="col">
                <p style="font-weight: bold; color: #31318B">Email</p>
              </div>
              <div class="col-4">
                <input class="form-control" type="email" placeholder="Email" name="email" th:value="*{email}"required disabled/>
              </div>
              <div class="col">
                <p></p>
              </div>
              <div class="col-4">
                <p></p>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <p style="font-weight: bold; color: #31318B">Alamat</p>
              </div>
              <div class="col-4">
                <input class="form-control" type="text" placeholder="Alamat" name="address" th:value="*{address}"required/>
              </div>
              <div class="col">
                <p></p>
              </div>
              <div class="col-4">
                <p></p>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <p style="font-weight: bold; color: #31318B">No. Telp</p>
              </div>
              <div class="col-4">
                <input class="form-control" type="number" placeholder="No. Telp" name="phone_num" th:value="*{phone_num}" required/>
              </div>
              <div class="col">
                <p></p>
              </div>
              <div class="col-4">
                <p></p>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <p style="font-weight: bold; color: #31318B">Tempat Lahir</p>
              </div>
              <div class="col-4">
                <input class="form-control" type="text" placeholder="Tempat Lahir" name="pob" th:value="*{pob}" required/>
              </div>
              <div class="col">
                <p></p>
              </div>
              <div class="col-4">
                <p></p>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <p style="font-weight: bold; color: #31318B">Tanggal Lahir</p>
              </div>
              <div class="col-4">
                <input class="form-control" type="date" placeholder="Tanggal Lahir" name="dob" th:value="*{dob}" required/>
              </div>
              <div class="col">
                <p></p>
              </div>
              <div class="col-4">
                <p></p>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <p style="font-weight: bold; color: #31318B">Jenis Kelamin</p>
              </div>
              <div class="col-4">
                <select class="form-select" name="gender" th:field="*{gender}" required>
                  <option th:each="gender, iterationStatus : ${listGender}"
                          th:value="${gender}" 
                          th:text="${gender}"></option>
                </select>  
              </div>
              <div class="col">
                <p></p>
              </div>
              <div class="col-4">
                <p></p>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <p style="font-weight: bold; color: #31318B">Agama</p>
              </div>
              <div class="col-4">
                <select class="form-select" name="religion" th:field="*{religion}" required>
                  <option th:each="religion, iterationStatus : ${listReligion}"
                          th:value="${religion}" 
                          th:text="${religion}"></option>
                </select>  
              </div>
              <div class="col">
                <p></p>
              </div>
              <div class="col-4">
                <p></p>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <p></p>
              </div>
              <div class="col-4">
                  <a th:href="@{/ortu/detail/} + ${ortu.id} + @{/} + ${siswaId}" class="btn btn-outline-secondary" style="display:block; width:100%; margin-top:20px;">
                    Kembali
                  </a>
              </div>
              <div class="col-4">
                <button type="submit" class="btn btn-primary" style="display:block; width:100%; margin-top:20px; background-color: #31318B; border-color: #31318B" >Simpan</button>
              </div>
              <div class="col">
                <p></p>
              </div>
            </div>
          </br>
        </form>
      </div>
    </div>
  </div>
</div>
</div>
<script>
    $(document).ready(function() {
        $('.js-example-basic-single').select2();
    });
</script>
</body>
</html>