<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <title>Create Siswa</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=DM Sans' rel='stylesheet'>
    <style>
      body {
          font-family: 'DM Sans';
      }

      .alert {
        position:fixed;
        top: 7rem;
        left: 5%;
        width: 90%;
        z-index:9999;
    }
  </style>  
</head>
<body>
<nav th:replace="fragments/fragment :: navbar (${'user'})"></nav>
<div class="alert alert-danger alert-dismissible d-flex align-items-center" role="alert" th:if="${errorMessage}" >
    <div class="d-flex align-items-center">
        <p th:text="${errorMessage}" style="margin-bottom: 0px; margin-top: 0px;"></p>
    </div>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<div class="container" style="width:100%">
  <div style="margin: auto; width: 80%; text-align: center; padding-top: 20px">
    <h2 style="font-weight: bold; text-align:center; padding:20px">Tambah Siswa</h2>
  </div>
  <div class="card mt-3" style="background-color:#F7FAFC">
    <div class="card-body">
      <div class="justify-content-center">
        <form th:action="@{/siswa/create-siswa}" method="POST" th:object="${siswa}">
          <div class="container">
            <div class="row">
                <div class="col">
                  <h4 style="padding-bottom:20px; font-weight: bold;" >Data Pribadi Siswa</h4>
                </div>
                <div class="col">
                  <h4 style="padding-bottom:20px; font-weight: bold;">Data Akademik Siswa</h4>
                </div>
            </div>
            <div class="row">
                <div class="col">
                  <p style="font-weight: bold; color: #31318B">Nama Lengkap</p>
                </div>
                <div class="col-4">
                    <input class="form-control" type="text" placeholder="Nama Lengkap" name="name" required/>
                </div>
                <div class="col">
                  <p style="font-weight: bold; color: #31318B">Jenjang</p>
                </div>
                <div class="col-4">
                  <select class="form-select" name="jenjang" required>
                      <option hidden disabled selected value>Pilih Jenjang Sekolah</option>
                      <option th:each="jenjangOpt : ${T(com.projectpop.quanta.siswa.model.Jenjang).values()}"th:value="${jenjangOpt}" th:text="${jenjangOpt.displayValue}"></option>
                  </select>  
                </div>
            </div>
            <div class="row">
                <div class="col">
                  <p style="font-weight: bold; color: #31318B">Nama Panggilan</p>
                </div>
                <div class="col-4">
                    <input class="form-control" type="text" placeholder="Nama Panggilan" name="nickname" required/>
                </div>
                <div class="col">
                  <p style="font-weight: bold; color: #31318B">Sekolah Asal</p>
                </div>
                <div class="col-4">
                  <input class="form-control" type="text" placeholder="Sekolah Asal" name="sekolah" required/> 
                </div>
            </div>
            <div class="row">
              <div class="col">
                <p style="font-weight: bold; color: #31318B">Email</p>
              </div>
              <div class="col-4">
                <input class="form-control" type="email" placeholder="Email" name="email" required/>
              </div>
              <div class="col">
                <p></p>
              </div>
              <div class="col-4">
                <p></p>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <p style="font-weight: bold; color: #31318B">Alamat</p>
              </div>
              <div class="col-4">
                <input class="form-control" type="text" placeholder="Alamat" name="address" required/>
              </div>
              <div class="col-3">
                <p style="font-weight: bold; color: #31318B">Apakah wali sudah terdaftar pada sistem QUANTA?</p>
              </div>
              <div class="col-3">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="statusWali" id="sudahTerdaftarRadio" value="sudah_terdaftar" checked>
                  <label class="form-check-label" for="sudahTerdaftarRadio">
                    Ya, Wali sudah terdaftar
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="statusWali" id="belumTerdaftarRadio" value="belum_terdaftar">
                  <label class="form-check-label" for="belumTerdaftarRadio">
                    Belum, wali belum terdaftar
                  </label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <p style="font-weight: bold; color: #31318B">No. Telp</p>
              </div>
              <div class="col-4">
                <input class="form-control" type="number" placeholder="No. Telp" name="phone_num" required/>
              </div>
              <div class="col">
                <div id="ortuLabel">
                  <p style="font-weight: bold; color: #31318B">Nama Wali</p>
                </div>
              </div>
              <div class="col-4">
                <div id="ortuSelectDiv">
                  <select id="ortuSelect" type="number" class="form-select js-example-basic-single" name="ortuId" required>
                    <option hidden disabled selected value>Pilih Wali</option>
                    <option th:each="wali, iterationStatus : ${listWali}"
                            th:value="${wali.id}" 
                            th:text="${wali.name} + ' (' + ${wali.email} + ')'"></option>
                  </select>  
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <p style="font-weight: bold; color: #31318B">Tempat Lahir</p>
              </div>
              <div class="col-4">
                <input class="form-control" type="text" placeholder="Tempat Lahir" name="pob" required/>
              </div>
              <div class="col">
                <p></p>
              </div>
              <div class="col-4">
                <p></p>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <p style="font-weight: bold; color: #31318B">Tanggal Lahir</p>
              </div>
              <div class="col-4">
                <input class="form-control" type="date" placeholder="Tanggal Lahir" name="dob" required/>
              </div>
              <div class="col">
                <p></p>
              </div>
              <div class="col-4">
                <p></p>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <p style="font-weight: bold; color: #31318B">Jenis Kelamin</p>
              </div>
              <div class="col-4">
                <select class="form-select" name="gender" required>
                  <option hidden disabled selected value>Pilih Jenis Kelamin</option>
                  <option th:each="genderOpt : ${T(com.projectpop.quanta.user.model.Gender).values()}"th:value="${genderOpt}" th:text="${genderOpt.displayValue}"></option>
                </select>  
              </div>
              <div class="col">
                <p></p>
              </div>
              <div class="col-4">
                <p></p>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <p style="font-weight: bold; color: #31318B">Agama</p>
              </div>
              <div class="col-4">
                <select class="form-select" name="religion" required>
                  <option hidden disabled selected value>Pilih Agama</option>
                  <option th:each="religionOpt : ${T(com.projectpop.quanta.user.model.Religion).values()}"th:value="${religionOpt}" th:text="${religionOpt.displayValue}"></option>
                </select>  
              </div>
              <div class="col">
                <p></p>
              </div>
              <div class="col-4">
                <p></p>
              </div>
            </div>
          </div>
            <br>
            <br>
          <div id="formOrtu" class="container">
            <div class="row">
                <div class="col">
                  <h4 style="padding-bottom:20px; font-weight: bold;" >Data Wali</h4>
                </div>
                <div class="col">
                  <h4 style="padding-bottom:20px; font-weight: bold;">Data Pelengkap Wali</h4>
                </div>
            </div>
            <div class="row">
                <div class="col">
                  <p style="font-weight: bold; color: #31318B">Nama Lengkap Wali</p>
                </div>
                <div class="col-4">
                    <input class="form-control ortu-field" type="text" placeholder="Nama Lengkap Wali" th:field="*{ortu.name}" />
                </div>
                <div class="col">
                  <p style="font-weight: bold; color: #31318B">Pekerjaan Wali</p>
                </div>
                <div class="col-4">
                  <input class="form-control ortu-field" type="text" placeholder="Pekerjaan Wali" th:field="*{ortu.job}"/>
                </div>
            </div>
            <div class="row">
                <div class="col">
                  <p style="font-weight: bold; color: #31318B">Nama Panggilan Wali</p>
                </div>
                <div class="col-4">
                    <input class="form-control ortu-field" type="text" placeholder="Nama Panggilan Wali" th:field="*{ortu.nickname}"/>
                </div>
                <div class="col">
                  <p style="font-weight: bold; color: #31318B">Tempat Bekerja Wali</p>
                </div>
                <div class="col-4">
                  <input class="form-control ortu-field" type="text" placeholder="Isi '-' jika tidak ada" th:field="*{ortu.kantor}"/> 
                </div>
            </div>
            <div class="row">
              <div class="col">
                <p style="font-weight: bold; color: #31318B">Email Wali</p>
              </div>
              <div class="col-4">
                <input class="form-control ortu-field" type="email" placeholder="Email Wali" th:field="*{ortu.email}" />
              </div>
              <div class="col">
                <p></p>
              </div>
              <div class="col-4">
                <p></p>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <p style="font-weight: bold; color: #31318B">Alamat Wali</p>
              </div>
              <div class="col-4">
                <input class="form-control ortu-field" type="text" placeholder="Alamat Wali" th:field="*{ortu.address}" />
              </div>
              <div class="col">
                <p></p>
              </div>
              <div class="col-4">
                <p></p>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <p style="font-weight: bold; color: #31318B">No. Telp Wali</p>
              </div>
              <div class="col-4">
                <input id="ortuPhone" class="form-control ortu-field" type="number" placeholder="No. Telp Wali" th:field="*{ortu.phone_num}" />
              </div>
              <div class="col">
                <p></p>
              </div>
              <div class="col-4">
                <p></p>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <p style="font-weight: bold; color: #31318B">Tempat Lahir Wali</p>
              </div>
              <div class="col-4">
                <input class="form-control ortu-field" type="text" placeholder="Tempat Lahir Wali" th:field="*{ortu.pob}"/>
              </div>
              <div class="col">
                <p></p>
              </div>
              <div class="col-4">
                <p></p>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <p style="font-weight: bold; color: #31318B">Tanggal Lahir Wali</p>
              </div>
              <div class="col-4">
                <input id="ortuDob" class="form-control ortu-field" type="date" placeholder="Tanggal Lahir Wali" th:field="*{ortu.dob}"/>
              </div>
              <div class="col">
                <p></p>
              </div>
              <div class="col-4">
                <p></p>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <p style="font-weight: bold; color: #31318B">Jenis Kelamin Wali</p>
              </div>
              <div class="col-4">
                <select class="form-select ortu-field" th:field="*{ortu.gender}" >
                  <option hidden disabled selected value="GENDER">Pilih Jenis Kelamin</option>
                  <option th:each="genderOpt : ${T(com.projectpop.quanta.user.model.Gender).values()}"th:value="${genderOpt}" th:text="${genderOpt.displayValue}"></option>
                </select>  
              </div>
              <div class="col">
                <p></p>
              </div>
              <div class="col-4">
                <p></p>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <p style="font-weight: bold; color: #31318B">Agama Wali</p>
              </div>
              <div class="col-4">
                <select class="form-select ortu-field" th:field="*{ortu.religion}">
                  <option hidden disabled selected value="RELIGION">Pilih Agama</option>
                  <option th:each="religionOpt : ${T(com.projectpop.quanta.user.model.Religion).values()}"th:value="${religionOpt}" th:text="${religionOpt.displayValue}"></option>
                </select>  
              </div>
              <div class="col">
                <p></p>
              </div>
              <div class="col-4">
                <p></p>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col">
                <p></p>
              </div>
              <div class="col-4">
                  <a href="/siswa" class="btn btn-outline-secondary" style="display:block; width:100%; margin-top:20px;">
                    Kembali
                  </a>
              </div>
              <div class="col-4">
                <button type="submit" class="btn btn-primary" style="display:block; width:100%; margin-top:20px; background-color: #31318B; border-color: #31318B" >Simpan</button>
              </div>
              <div class="col">
                <p></p>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</div>
<script>
  $(document).ready(function() {
      $('.js-example-basic-single').select2();
      window.setTimeout(function() {
            $(".alert").fadeTo(500, 0).slideUp(1000, function(){
                $(this).remove();
            });
        }, 4000);
  });

  // Get the radio button and select box elements
  const belumTerdaftarRadio = document.getElementById('belumTerdaftarRadio');
  const sudahTerdaftarRadio = document.getElementById('sudahTerdaftarRadio');
  const ortuSelect = document.getElementById('ortuSelect');
  const ortuSelectDiv = document.getElementById('ortuSelectDiv');
  const formOrtu = document.getElementById('formOrtu');
  const ortuLabel = document.getElementById('ortuLabel');
  const ortuDob = document.getElementById('ortuDob');
  const ortuPhone = document.getElementById('ortuPhone');
  const ortuFields = document.querySelectorAll('.ortu-field');

  formOrtu.style.display = 'none';
  ortuDob.value = "2002-03-25";
  ortuPhone.value = 08123456789;

  belumTerdaftarRadio.addEventListener('change', () => {
    if (belumTerdaftarRadio.checked) {
      ortuSelect.value = 0
      ortuLabel.style.display = 'none';
      ortuSelectDiv.style.display = 'none';
      ortuSelect.removeAttribute('required');
      formOrtu.style.display = 'block';
      ortuFields.forEach((field) => {
        field.setAttribute('required', '');
      });
      ortuDob.value = null;
      ortuPhone.value = null;
    } 
  });

  sudahTerdaftarRadio.addEventListener('change', () => {
    if (sudahTerdaftarRadio.checked) {
      ortuLabel.style.display = 'block';
      ortuSelectDiv.style.display = 'block';
      ortuSelect.setAttribute('required', '');
      formOrtu.style.display = 'none';
      ortuFields.forEach((field) => {
        field.removeAttribute('required');
      });
      ortuDob.value = "2002-03-25";
      ortuPhone.value = 08123456789;
    } 
  });
</script>
</body>
</html>