<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <title>Rapor Siswa</title>
  <object th:include="fragments/fragment :: css" th:remove="tag"></object>
  <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav sec:authorize="hasRole('ORTU')" th:replace="fragments/fragment :: navbar (${'raporAnak'},${isKakakAsuh})"></nav>
<nav sec:authorize="hasRole('SISWA')" th:replace="fragments/fragment :: navbar (${'raporSaya'},${isKakakAsuh})"></nav>
<nav sec:authorize="hasAnyRole('ADMIN', 'PENGAJAR')" th:replace="fragments/fragment :: navbar (${'rapor'},${isKakakAsuh})"></nav>
<div class="alert alert-danger alert-dismissible d-flex align-items-center" role="alert" th:if="${error}" >
  <div class="d-flex align-items-center">
    <p th:text="${error}" style="margin-bottom: 0px; margin-top: 0px;"></p>
  </div>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<div class="alert alert-success alert-dismissible d-flex align-items-center" role="alert" th:if="${success}" >
  <div class="d-flex align-items-center">
    <p th:text="${success}" style="margin-bottom: 0px; margin-top: 0px;"></p>
  </div>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<div class="container" style=" margin-top:40px; width: 80%">
  <div class="justify-content-center">
    <div sec:authorize="hasRole('ADMIN')">
      <div style="margin-top: 3rem; margin-bottom: 2rem; text-align: center;">
        <h2 style="font-weight: bold; margin-bottom: 0.75rem;" >Rapor Siswa</h2>
        <h4 style="font-weight: normal; padding-top: 0px;" th:text="${siswaModel.name} + ' — '+${kelasnyaSiswa.name}"></h4>
        <h5 style="font-weight: normal; padding-top: 0px;" th:text="'Tahun ajaran ' + ${tahunAjaranNow}"></h5>
        <br>
      </div>
      <div class="col-2 justify-content-center" style="margin: auto; padding: 12px; text-align: center">
        Pilih Bulan
        <select  type="search" class="select-table-filter" data-table="rapor-table">
          <option th:each="bulanOpt : ${listNamaBulan}"
                  th:value="${bulanOpt}" th:text="${bulanOpt}">
          </option>
        </select>
      </div>
      <div style="padding-top: 10px; width: 80%; padding: 20px;">
        <h3 style="font-weight: bold; padding-top: 10px; color: #0A2647" >Kehadiran Siswa di Kelas</h3>
      </div>
      <table style="margin: 20px;" class="table table-striped rapor-table align-middle" id="data-table-big">
        <thead style="background-color: #31318B; color: #ffffff">
        <tr>
          <th scope="col">No</th>
          <th scope="col">Pengajar</th>
          <th scope="col">Tanggal Kelas</th>
          <th scope="col">Jam Kelas</th>
          <th scope="col">Status Kehadiran</th>
          <th scope="col">Mata Pelajaran</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="presensiSiswa, iterationStatus : ${presensiSiswaDanJamMap}">
          <th scope="row" th:text="${iterationStatus.index + 1}"></th>
          <td th:text="${presensiSiswa.getKey().jadwal.pengajarKelas.getNameEmail()}"></td>
          <td th:text="${presensiSiswa.getValue()[0]}"></td>
          <td th:text="${presensiSiswa.getValue()[1]} + ' - '+${presensiSiswa.getValue()[2]}"></td>
          <td th:text="${presensiSiswa.getKey().status}"></td>
          <td th:text="${presensiSiswa.getKey().jadwal.mapelJadwal.name}"></td>
        </tr>
        </tbody>
      </table>
    </div>
    <div sec:authorize="hasRole('PENGAJAR')" th:if="${isKakakAsuh}">
      <div style="margin-top: 3rem; margin-bottom: 2rem; text-align: center;">
        <h2 style="font-weight: bold; margin-bottom: 0.75rem;" >Rapor Siswa</h2>
        <h4 style="font-weight: normal; padding-top: 0px;" th:text="${siswaModel.name} + ' — '+${kelasnyaSiswa.name}"></h4>
        <h5 style="font-weight: normal; padding-top: 0px;" th:text="'Tahun ajaran ' + ${tahunAjaranNow}"></h5>
        <br>
      </div>
      <div class="col-2 justify-content-center" style="margin: auto; padding: 12px; text-align: center">
        Pilih Bulan
        <select  type="search" class="select-table-filter" data-table="rapor-table">
          <option th:each="bulanOpt : ${listNamaBulan}"
                  th:value="${bulanOpt}" th:text="${bulanOpt}">
          </option>
        </select>
      </div>
      <div style="padding-top: 10px; width: 80%; padding: 20px;">
        <h3 style="font-weight: bold; padding-top: 10px; color: #0A2647" >Kehadiran Siswa di Kelas</h3>
      </div>
      <table style="margin: 20px;" class="table table-striped rapor-table align-middle" id="data-table-big">
        <thead style="background-color: #31318B; color: #ffffff">
        <tr>
          <th scope="col">No</th>
          <th scope="col">Pengajar</th>
          <th scope="col">Tanggal Kelas</th>
          <th scope="col">Jam Kelas</th>
          <th scope="col">Status Kehadiran</th>
          <th scope="col">Mata Pelajaran</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="presensiSiswa, iterationStatus : ${presensiSiswaDanJamMap}">
          <th scope="row" th:text="${iterationStatus.index + 1}"></th>
          <td th:text="${presensiSiswa.getKey().jadwal.pengajarKelas.getNameEmail()}"></td>
          <td th:text="${presensiSiswa.getValue()[0]}"></td>
          <td th:text="${presensiSiswa.getValue()[1]} + ' - '+${presensiSiswa.getValue()[2]}"></td>
          <td th:text="${presensiSiswa.getKey().status}"></td>
          <td th:text="${presensiSiswa.getKey().jadwal.mapelJadwal.name}"></td>
        </tr>
        </tbody>
      </table>
    </div>
    <div sec:authorize="hasRole('ORTU')">
      <div style="margin-top: 3rem; margin-bottom: 2rem; text-align: center;">
        <h2 style="font-weight: bold; margin-bottom: 0.75rem;" >Rapor Siswa</h2>
        <h4 style="font-weight: normal; padding-top: 0px;" th:text="${siswaModel.name} + ' — '+${kelasnyaSiswa.name}"></h4>
        <h5 style="font-weight: normal; padding-top: 0px;" th:text="'Tahun ajaran ' + ${tahunAjaranNow}"></h5>
        <br>
      </div>
      <div class="col-2 justify-content-center" style="margin: auto; padding: 12px; text-align: center">
        Pilih Bulan
        <select  type="search" class="select-table-filter" data-table="rapor-table">
          <option th:each="bulanOpt : ${listNamaBulan}"
                  th:value="${bulanOpt}" th:text="${bulanOpt}">
          </option>
        </select>
      </div>
      <div style="padding-top: 10px; width: 80%; padding: 20px;">
        <h3 style="font-weight: bold; padding-top: 10px; color: #0A2647" >Kehadiran Siswa di Kelas</h3>
      </div>
      <table style="margin: 20px;" class="table table-striped rapor-table align-middle" id="data-table-big">
        <thead style="background-color: #31318B; color: #ffffff">
        <tr>
          <th scope="col">No</th>
          <th scope="col">Pengajar</th>
          <th scope="col">Tanggal Kelas</th>
          <th scope="col">Jam Kelas</th>
          <th scope="col">Status Kehadiran</th>
          <th scope="col">Mata Pelajaran</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="presensiSiswa, iterationStatus : ${presensiSiswaDanJamMap}">
          <th scope="row" th:text="${iterationStatus.index + 1}"></th>
          <td th:text="${presensiSiswa.getKey().jadwal.pengajarKelas.getNameEmail()}"></td>
          <td th:text="${presensiSiswa.getValue()[0]}"></td>
          <td th:text="${presensiSiswa.getValue()[1]} + ' - '+${presensiSiswa.getValue()[2]}"></td>
          <td th:text="${presensiSiswa.getKey().status}"></td>
          <td th:text="${presensiSiswa.getKey().jadwal.mapelJadwal.name}"></td>
        </tr>
        </tbody>
      </table>
    </div>
    <div sec:authorize="hasRole('SISWA')">
      <div style="margin-top: 3rem; margin-bottom: 2rem; text-align: center;">
        <h2 style="font-weight: bold; margin-bottom: 0.75rem;" >Rapor Siswa</h2>
        <h4 style="font-weight: normal; padding-top: 0px;" th:text="${siswaModel.name} + ' — '+${kelasnyaSiswa.name}"></h4>
        <h5 style="font-weight: normal; padding-top: 0px;" th:text="'Tahun ajaran ' + ${tahunAjaranNow}"></h5>
        <br>
      </div>
      <div class="col-2 justify-content-center" style="margin: auto; padding: 12px; text-align: center">
        Pilih Bulan
        <select  type="search" class="select-table-filter" data-table="rapor-table">
          <option th:each="bulanOpt : ${listNamaBulan}"
                  th:value="${bulanOpt}" th:text="${bulanOpt}">
          </option>
        </select>
      </div>
      <div style="padding-top: 10px; width: 80%; padding: 20px;">
        <h3 style="font-weight: bold; padding-top: 10px; color: #0A2647" >Kehadiran Siswa di Kelas</h3>
      </div>
      <table style="margin: 20px;" class="table table-striped rapor-table align-middle" id="data-table-big">
        <thead style="background-color: #31318B; color: #ffffff">
        <tr>
          <th scope="col">No</th>
          <th scope="col">Pengajar</th>
          <th scope="col">Tanggal Kelas</th>
          <th scope="col">Jam Kelas</th>
          <th scope="col">Status Kehadiran</th>
          <th scope="col">Mata Pelajaran</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="presensiSiswa, iterationStatus : ${presensiSiswaDanJamMap}">
          <th scope="row" th:text="${iterationStatus.index + 1}"></th>
          <td th:text="${presensiSiswa.getKey().jadwal.pengajarKelas.getNameEmail()}"></td>
          <td th:text="${presensiSiswa.getValue()[0]}"></td>
          <td th:text="${presensiSiswa.getValue()[1]} + ' - '+${presensiSiswa.getValue()[2]}"></td>
          <td th:text="${presensiSiswa.getKey().status}"></td>
          <td th:text="${presensiSiswa.getKey().jadwal.mapelJadwal.name}"></td>
        </tr>
        </tbody>
      </table>
    </div>

    <table style="margin: 20px; width: 50%; padding: 20px 12px 20px 12px; background-color: #E3EEFD" class="table table-sm" id="data-table-small">
      <tr th:classappend="table-active">
        <th scope="col">Nilai Kehadiran Kelas</th>
        <td th:text="${persentaseKehadiranKelas} + '%'"></td>
      </tr>
      <tr>
        <th scope="col">Total Konsultasi yang Dilakukan</th>
        <td th:text="${countDurationKonsul} + ' jam'"></td>
      </tr>
    </table>
    <div sec:authorize="hasRole('PENGAJAR')" th:if="${isKakakAsuh}">
      <div style="width: 80%; padding: 10px 0 20px 20px">
        <h3 style="font-weight: bold; padding-top: 10px; color: #0A2647" >Daftar Pesan</h3>
      </div>
      <div th:if="${sizeMapPesan == 0}" style="width: 80%; padding: 10px 0 20px 20px">
        <p>Belum ada pesan untuk ditampilkan</p>
      </div>
      <div th:unless="${sizeMapPesan == 0}">
        <div th:each="pesan, iterationStatus : ${mapPesan}" style="width: 80%; padding: 10px 0 20px 20px">
        <span style="display: flex; align-content: center">
          <h6 th:text="${pesan.getValue()[0]}+' - '+${pesan.getKey().user.name}" style="font-weight: bold; padding: 0 12px 0 0"></h6>
          <p th:text="${pesan.getValue()[1]}+' - '+${pesan.getValue()[2]}"></p>
        </span>
          <p th:text="${pesan.getKey().msg}"></p>
        </div>
      </div>
    </div>
    <div sec:authorize="hasRole('ORTU')">
      <div style="width: 80%; padding: 10px 0 20px 20px">
        <h3 style="font-weight: bold; padding-top: 10px; color: #0A2647" >Daftar Pesan</h3>
      </div>
      <div th:if="${sizeMapPesan == 0}" style="width: 80%; padding: 10px 0 20px 20px">
        <p>Belum ada pesan untuk ditampilkan</p>
      </div>
      <div th:unless="${sizeMapPesan == 0}">
        <div th:each="pesan, iterationStatus : ${mapPesan}" style="width: 80%; padding: 10px 0 20px 20px">
        <span style="display: flex; align-content: center">
          <h6 th:text="${pesan.getValue()[0]}+' - '+${pesan.getKey().user.name}" style="font-weight: bold; padding: 0 12px 0 0"></h6>
          <p th:text="${pesan.getValue()[1]}+' - '+${pesan.getValue()[2]}"></p>
        </span>
          <p th:text="${pesan.getKey().msg}"></p>
        </div>
      </div>
    </div>
  </div>
  <script>
    $(document).ready(() => {
      $('#data-table-big').DataTable();
    });
    (function(document) {
      'use strict';
      var LightTableFilter = (function(Arr) {
        var _select;
        function _onSelectEvent(e) {
          _select = e.target;
          var tables = document.getElementsByClassName(_select.getAttribute('data-table'));
          Arr.forEach.call(tables, function(table) {
            Arr.forEach.call(table.tBodies, function(tbody) {
              Arr.forEach.call(tbody.rows, _filterSelect);
            });
          });
        }
        function _filterSelect(row) {
          var text_select = row.textContent.toLowerCase(), val_select = _select.options[_select.selectedIndex].value.toLowerCase();
          row.style.display = text_select.indexOf(val_select) === -1 && _select.value !== "Semua" ? 'none' : 'table-row';
        }
        return {
          init: function() {
            var selects = document.getElementsByClassName('select-table-filter');
            Arr.forEach.call(selects, function(select) {
              select.onchange  = _onSelectEvent;
            });
          }
        };
      })(Array.prototype);

      document.addEventListener('readystatechange', function() {
        if (document.readyState === 'complete') {
          LightTableFilter.init();
        }
      });

    })(document);
  </script>
</div>
</body>
</html>
