<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Fragments Quanta</title>
    <style>
    </style>
    <head th:fragment="css">
        <link href='https://fonts.googleapis.com/css?family=DM Sans' rel='stylesheet'>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.css">
        <link rel="icon" href="https://cdn.discordapp.com/attachments/827584860582707261/1086997417318158416/favicon.ico" type="image/x-icon" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap" rel="stylesheet">
        <link href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css">
        <style>
            body {
                font-family: 'DM Sans';
            }
        </style>
    </head>
    <head th:fragment="js">
        <script
                src="https://code.jquery.com/jquery-3.6.1.min.js"
                integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
                crossorigin="anonymous"></script>
        <script src="https://getbootstrap.com/docs/4.1/assets/js/vendor/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
        <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
    </head>
</head>
<body>
<nav th:fragment="navbar (onevar,${isKakakAsuh})" class="navbar navbar-light navbar-expand"
     style="background-color: #eDF2F7; border-radius: 0 0 20px 20px; box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
     font-size:14px;font-family: 'DM Sans', sans-serif; font-style: normal; font-weight: 700; line-height: 140%; color: #2d3748;">
    <a class="navbar-brand img-fluid w-20 mx-4" href="/" sec:authorize="hasAnyRole('PENGAJAR', 'SISWA', 'ADMIN')">
        <img src="https://i.ibb.co/b18xCYT/qr-logo-navbar.png" alt="qr-logo-navbar" style="width: 160px" />
    </a>
    <a sec:authorize="hasRole('ORTU')" class="navbar-brand img-fluid w-20 mx-4" href="/" id="home-ortu">
        <img src="https://i.ibb.co/b18xCYT/qr-logo-navbar.png" alt="qr-logo-navbar" style="width: 160px" />
    </a>
    <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup"
            aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse order-3 dual-collapse2">
        <ul class="navbar-nav mr-auto navbar-left w-100">
            <li class="nav-item dropdown">
                <a sec:authorize="hasRole('ADMIN')" class="nav-link dropdown-toggle" th:classappend="${onevar == 'manajemenPengguna'} ? active : ''" href="/" id="navbarDarkDropdownMenuLink manajemenPengguna" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Manajemen Pengguna
                </a>
                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink manajemenPengguna">
                    <li><a class="dropdown-item" th:href="@{/siswa}">Siswa</a></li>
                    <li><a class="dropdown-item" th:href="@{/pengajar}">Pengajar</a> </li>
                </ul>
            </li>
            <li class="nav-item">
                <a sec:authorize="hasAnyRole('PENGAJAR', 'SISWA')" role="button" class="nav-link" th:classappend="${onevar == 'jadwalKelas'} ? active : ''" th:href="@{/jadwal-kelas}">
                    Jadwal Kelas
                </a>
                <a sec:authorize="hasRole('ORTU')" role="button" class="nav-link" th:classappend="${onevar == 'jadwalKelas'} ? active : ''" th:href="@{/jadwal-kelas}" id="jadwal-ortu">
                    Jadwal Kelas
                </a>
            </li>
            <li class="nav-item dropdown">
                <a sec:authorize="hasRole('PENGAJAR')" class="nav-link dropdown-toggle" th:classappend="${onevar == 'operasional'} ? active : ''" href="/" id="navbarDarkDropdownMenuLink operasional" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Operasional
                </a>
                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink operasional">
                    <li><a class="dropdown-item" th:href="@{/presensi}">Presensi</a></li>
                    <li><a class="dropdown-item" th:href="@{/konsultasi}">Konsultasi</a> </li>
                    <li th:if="${isKakakAsuh}"><a class="dropdown-item" th:href="@{/siswa/all-rapor-siswa}">Rapor Adik Asuh</a> </li>
                </ul>
            </li>
            <li class="nav-item">
                <a sec:authorize="hasRole('SISWA')" role="button" class="nav-link" th:href="@{/konsultasi}" th:classappend="${onevar == 'konsultasi'} ? active : ''">
                    Konsultasi
                </a>
            </li>
            <li class="nav-item">
                <a sec:authorize="hasRole('SISWA')" role="button" class="nav-link" th:classappend="${onevar == 'raporSaya'} ? active : ''" id="rapor-saya" href="/siswa/rapor-saya">
                    Rapor Saya
                </a>
            </li>
            <li class="nav-item">
                <a sec:authorize="hasRole('ORTU')" class="nav-link" th:classappend="${onevar == 'raporAnak'} ? active : ''" th:href="@{/}" 
                id="rapor-anak" role="button">
                    Rapor Anak
                </a>
            </li>
            <li class="nav-item dropdown">
                <a sec:authorize="hasRole('ADMIN')" class="nav-link dropdown-toggle" th:classappend="${onevar == 'user'} ? active : ''" href="/" id="navbarDarkDropdownMenuLink manajemenOperasional" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Manajemen Operasional
                </a>
                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink manajemenOperasional">
                    <li><a class="dropdown-item" th:href="@{/mapel}">Mata Pelajaran</a></li>
                    <li><a class="dropdown-item" th:href="@{/kelas}">Kelas</a></li>
                    <li><a class="dropdown-item" th:href="@{/jadwal-kelas}">Jadwal</a></li>
                    <li><a class="dropdown-item" th:href="@{/siswa/all-rapor-siswa}">Rapor</a></li>
                    <li><a class="dropdown-item" th:href="@{/presensi}">Presensi</a></li>
                    <li><a class="dropdown-item" th:href="@{/konsultasi}">Konsultasi</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a sec:authorize="hasRole('ADMIN')" class="nav-link dropdown-toggle" th:classappend="${onevar == 'Presensi'} ? active : ''" href="/" id="navbarDarkDropdownMenuLink Statistika" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Laporan Presensi
                </a>
                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink Statistika">
                    <li><a class="dropdown-item" th:href="@{/statistik/mapel}">Mata Pelajaran</a></li>
                    <li><a class="dropdown-item" th:href="@{/statistik/kelas}">Kelas</a></li>
                </ul>
            </li>
        </ul>
        <div sec:authorize="hasRole('ORTU')">
            <ul class="navbar-nav ml-auto navbar-right" style="padding-right: 150px;">
                <li class="nav-item dropdown col-auto" style="margin-right: 24px">
                    <a href="/" class="dropdown" id="navbarDropdownMenuLink listAnak" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: #2d3748; flex-direction: column;"
                    th:text="'Pilih Anak: ' + ${anak.name}">
                    </a>
                     <script th:inline="javascript"> 
                        /*<![CDATA[*/  
                        userEmail = /*[[${#authentication.getPrincipal().username}]]*/ 'default'; 
                        /*]]>*/
                    
                        var json_url = "/api/v1/ortu/list-anak/" + userEmail;
                        console.log(json_url);
                        $("#list-anak").ready(function(){
                            jQuery.getJSON(json_url, function(data){
                            $("#list-anak").html("");
                                                
                            jQuery.each(data, function(key, val){
                                var url = '/anak/' + val.id;
                                $("#list-anak").append("<a class='dropdown-item' href=" + url + ">"+ val.name + "</a>")
                            });
                        });
    
                        });
                        $("#list-jadwal-anak").ready(function(){
                            jQuery.getJSON(json_url, function(data){
                            $("#list-jadwal-anak").html("");
                                                
                            jQuery.each(data, function(key, val){
                                var url = '/jadwal-kelas/anak/' + val.id;
                                $("#list-jadwal-anak").append("<a class='dropdown-item' href=" + url + ">"+ val.name + "</a>")
                            });
                             
                            });
    
                        });
    
                        $("#list-rapor-anak").ready(function(){
                            jQuery.getJSON(json_url, function(data){
                            $("#list-rapor-anak").html("");
                                                
                            jQuery.each(data, function(key, val){
                                var url = '/siswa/rapor-siswa/' + val.id;
                                $("#list-rapor-anak").append("<a class='dropdown-item' href=" + url + ">"+ val.name + "</a>")
                            });
                             
                            });
                        });
    
                        var theLocation = window.location;
                        var lastPart = (theLocation.href).split('/').slice(-1)[0];
                        console.log(lastPart);
    
                        var homeUrl = "/anak/" + lastPart
    
                        $("#home-ortu").attr('href', homeUrl);
    
                        var jadwalURL = "/jadwal-kelas/anak/" + lastPart
                        $("#jadwal-ortu").attr('href', jadwalURL);

                        var raporAnakURL = "/siswa/rapor-siswa/" + lastPart
                        $("#rapor-anak").attr('href', raporAnakURL);

                    </script>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdownMenuLink listAnak">
                        <div th:if="${onevar == 'beranda'}">
                            <li id="list-anak"></li>
                        </div>
                        <div th:if="${onevar == 'jadwalKelas'}">
                            <li id="list-jadwal-anak"></li>
                        </div>
                        <div th:if="${onevar == 'raporAnak'}">
                            <li id="list-rapor-anak"></li>
                        </div>
                    </ul>
                </li>
    
                <li class="nav-item dropdown">
                    <a href="/" class="dropdown" id="navbarDropdownMenuLink profilePengguna" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: #2d3748; flex-direction: column" >
                        <div sec:authorize="isAuthenticated()" style="display: flex; align-items: center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="bi bi-person-fill" style="margin-right: 8px">
                                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
                            </svg>
                            <span sec:authentication="name" class="d-inline-block align-top font-weight-bold"></span>
                        </div>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdownMenuLink profilePengguna">
                        <li><a class="dropdown-item" th:href="@{/profil}">Informasi Profil</a></li>
                        <li><a class="dropdown-item text-danger" th:if="${onevar != 'logged-out'}" th:href="@{/logout}">Logout</a></li>
                    </ul>
                </li>
    
                
            </ul>
        </div>

        <div sec:authorize="hasAnyRole('ADMIN', 'SISWA', 'PENGAJAR')">
            <ul class="navbar-nav navbar-right mx-5">
                <li class="dropdown">
                    <a href="/" class="dropdown" id="navbarDropdownMenuLink profilePengguna" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: #2d3748; flex-direction: column" >
                        <div sec:authorize="isAuthenticated()" style="display: flex; align-items: center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="bi bi-person-fill" style="margin-right: 8px">
                                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
                            </svg>
                            <span sec:authentication="name" class="d-inline-block align-top font-weight-bold"></span>
                        </div>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdownMenuLink profilePengguna">
                        <li><a class="dropdown-item" th:href="@{/profil}">Informasi Profil</a></li>
                        <li><a class="dropdown-item text-danger" th:if="${onevar != 'logged-out'}" th:href="@{/logout}">Logout</a></li>
                    </ul>
                </li>
            </ul>
    
        </div>
       
    </div>

</nav>
</body>



</html>

