<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
  <!--    <h3>Rekap Presensi SMA</h3>-->
  <!--    <table class="table table-striped align-middle" id="mapel-presensi-table">-->
  <!--        <thead style="background-color: #31318B; color: #ffffff">-->
  <!--        <tr>-->
  <!--            <th scope="col">No</th>-->
  <!--            <th scope="col">Mata Pelajaran</th>-->
  <!--            <th scope="col">Jumlah Presensi</th>-->
  <!--        </tr>-->
  <!--        </thead>-->
  <!--        <tbody>-->
  <!--        <tr th:each="mapel, iterationStatus : ${listMapelSMA}">-->
  <!--            <td th:text="${iterationStatus.index + 1}"></td>-->
  <!--            <td th:text="${mapel.getName()}"></td>-->
  <!--            <td th:text="${listPresensiMapelSMA.get(iterationStatus.index)}"></td>-->
  <!--        </tr>-->
  <!--        </tbody>-->
  <!--    </table>-->
  <!--    <br>-->
  <!--    <h3>Rekap Presensi SMP</h3>-->
  <!--    <table class="table table-striped align-middle" id="mapel-presensi-SMP-table">-->
  <!--        <thead style="background-color: #31318B; color: #ffffff">-->
  <!--        <tr>-->
  <!--            <th scope="col">No</th>-->
  <!--            <th scope="col">Mata Pelajaran</th>-->
  <!--            <th scope="col">Jumlah Presensi</th>-->
  <!--        </tr>-->
  <!--        </thead>-->
  <!--        <tbody>-->
  <!--        <tr th:each="mapel, iterationStatus : ${listMapelSMP}">-->
  <!--            <td th:text="${iterationStatus.index + 1}"></td>-->
  <!--            <td th:text="${mapel.getName()}"></td>-->
  <!--            <td th:text="${listPresensiMapelSMP.get(iterationStatus.index)}"></td>-->
  <!--        </tr>-->
  <!--        </tbody>-->
  <!--    </table>-->
  <!--    <br>-->
</div>
</body>
</html>