<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://thymeleaf.org">
    <title>Statistik Kelas</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"></script>

    <link href='https://fonts.googleapis.com/css?family=DM Sans' rel='stylesheet'>
    <style>
        body {
            font-family: 'DM Sans' ;
        }

        h3{
            font-family: "DM Sans";
            font-size: 32px;
            font-weight: bold;
        }
    </style>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar (${'Statistik-presensi'},${isKakakAsuh})"></nav>
<div class="container" style="margin-top: 5rem; margin-bottom: 5rem;">
    <div>
        <h3 class="text-center">Rekap Presensi Kelas</h3>
        <form th:action="@{/statistik/kelas}" method="GET" class="d-flex align-items-center">
            <div class="container-fluid">
                <div class="row mt-5 mb-4 px-4 py-4" style="background: #FFFFFF;
                    box-shadow: 0px 14px 54px rgba(0, 0, 0, 0.04);
                    border-radius: 10px;">
                    <div class="col" style="padding-left: 0 !important;">
                        <label for="tahun-ajar" class="form-label">Tahun Ajar</label>
                        <div>
                            <select class="form-select" id="tahun-ajar" name="tahun-ajar">
                                <option th:each="tahunAjar : ${listTahunAjar}" th:text="${tahunAjar.getName()}" th:value="${tahunAjar.getId()}"</option>
                            </select>
                        </div>
                    </div>
                    <div class="col">
                        <label for="month" class="form-label">Bulan</label>
                        <div>
                            <select class="form-select" id="month" name="month">
                                <option value="1" th:selected="${month == 1}">Januari</option>
                                <option value="2" th:selected="${month == 2}">Februari</option>
                                <option value="3" th:selected="${month == 3}">Maret</option>
                                <option value="4" th:selected="${month == 4}">April</option>
                                <option value="5" th:selected="${month == 5}">Mei</option>
                                <option value="6" th:selected="${month == 6}">Juni</option>
                                <option value="7" th:selected="${month == 7}">Juli</option>
                                <option value="8" th:selected="${month == 8}">Agustus</option>
                                <option value="9" th:selected="${month == 9}">September</option>
                                <option value="10" th:selected="${month == 10}">Oktober</option>
                                <option value="11" th:selected="${month == 11}">November</option>
                                <option value="12" th:selected="${month == 12}">Desember</option>
                            </select>
                        </div>
                    </div>
                    <div class="col">
                        <div class="d-flex h-100 align-items-end">
                            <button class="btn btn-primary" type="submit">Generate</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div>
        <div class="row my-4 mx-1" style="column-gap: 2rem;">
            <div th:each="kelaslItr : ${MapKelasTer}" class="col py-4 px-3" style="background: #FFFFFF;
box-shadow: 0px 14px 54px rgba(0, 0, 0, 0.05);
border-radius: 10px;">
                <h6 style="color: #4A5568; font-weight: 400;font-size: 16px;" th:text="${kelaslItr.key}"></h6>
                <p style="color: #2C5282; font-size: 36px; font-weight: bold; margin-bottom: 0 !important;"th:text="${kelaslItr.value}"></p>
            </div>
        </div>
    </div>

    <div class="my-5 p-4" style="background: #F6F8FB; border-radius: 10px;">
        <div class="mb-4">
            <h6 style="font-size: 20px; font-weight: bold; color: #241E20;">Rekap Presensi SMP</h6>
            <p style="font-size: 14px; font-weight: 400; color: #828282;">Rekap presensi setiap kelas per bulan</p>
        </div>
        <canvas id="chart-SMP"></canvas>
    </div>

    <div class="my-5 p-4" style="background: #F6F8FB; border-radius: 10px;">
        <div class="mb-4">
            <h6 style="font-size: 20px; font-weight: bold; color: #241E20;">Rekap Presensi SMA</h6>
            <p style="font-size: 14px; font-weight: 400; color: #828282;">Rekap presensi setiap kelas per bulan</p>
        </div>
        <canvas id="chart-SMA"></canvas>
    </div>

</div>
<script th:inline="javascript">
    let labels = [[${listNamaKelas}]];
    let data = [[${listPersentaseKelas}]];
    let dataLabel = [[${dataLabelSMP}]];
    let dataLabel2 = [[${dataLabelSMA}]];

    const ctx = document.getElementById('chart-SMP').getContext('2d');
    const chart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: labels[0],
            datasets: [{
                label: dataLabel,
                data: data[0],
                backgroundColor: 'rgba(22, 91, 170, 0.2)',
                borderColor: 'rgba(22, 91, 170, 1)',
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    title: {
                        display: true,
                        text: "Persentase Absen",
                    },

                    beginAtZero: true,
                    ticks: {
                        precision: 0
                    }
                },
                x: {
                    title: {
                        display: true,
                        text: "Kelas",
                    },

                }
            },
            plugins: {
                legend:{
                    position: "bottom",
                }
            }
        }
    });


    const ctx2 = document.getElementById('chart-SMA').getContext('2d');
    const chartSMA = new Chart(ctx2, {
        type: 'bar',
        data: {
            labels: labels[1],
            datasets: [{
                label: dataLabel2,
                data: data[1],
                backgroundColor: 'rgba(22, 91, 170, 0.2)',
                borderColor: 'rgba(22, 91, 170, 1)',
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    title: {
                        display: true,
                        text: "Persentase Absen",
                    },

                    beginAtZero: true,
                    ticks: {
                        precision: 0
                    }
                },
                x: {
                    title: {
                        display: true,
                        text: "Kelas",
                    },

                }
            },
            plugins: {
                legend:{
                    position: "bottom",
                }
            }
        }
    });
</script>

</body>
</html>