<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    </style>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
  <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body onload="myAlertTop()">
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Login Sukses!</strong> Selamat datang di sistem QUANTA!
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <nav th:replace="fragments/fragment :: navbar(beranda)"></nav>
    <h1>Hello, this is B03</h1>
</body>
</html>