<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <style>
        .myAlert-top{
            position: fixed;
            top: 5px; 
            left:2%;
            width: 96%;
        }
        .alert{
            display: none;
        }      
    </style>
    <script>
        function myAlertTop(){
            $(".myAlert-top").show();
            setTimeout(function(){
              $(".myAlert-top").hide(); 
            }, 5000);
          }
    </script>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
  <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body onload="myAlertTop()">
    <div class="myAlert-top alert alert-success">
        <strong>Login Sukses!</strong> Selamat datang di sistem QUANTA!
    </div>
    </div>
    <nav th:replace="fragments/fragment :: navbar(beranda)"></nav>
    <h1>Hello, this is B03</h1>
</body>
</html>