<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <title>Daftar Konsultasi</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <link href='https://fonts.googleapis.com/css?family=DM Sans' rel='stylesheet'>
<body>
<style>
    body {
        font-family: 'DM Sans';
    }
    .alert {
        position:fixed;
        top: 5rem;
        left: 10%;
        width: 80%;
        z-index:9999;
    }
</style>
<nav th:replace="fragments/fragment :: navbar (${'Konsultasi'},${isKakakAsuh})"></nav>
<div class="alert alert-danger alert-dismissible d-flex align-items-center" role="alert" th:if="${errorMessage}" >
    <div class="d-flex align-items-center">
        <p th:text="${errorMessage}" style="margin-bottom: 0px; margin-top: 0px;"></p>
    </div>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<div class="alert alert-success alert-dismissible d-flex align-items-center" role="alert" th:if="${message}" >
    <div class="d-flex align-items-center">
        <p th:text="${message}" style="margin-bottom: 0px; margin-top: 0px;"></p>
    </div>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<div class="container" style="width:90%; padding-top:20px;">
    <div class="card m-4 p-4">
        <div class="justify-content-center">
            <div style="margin: auto; padding-top: 10px; width: 100%; padding: 20px; text-align: center">
                <h2 style="font-weight: bold; padding-top: 10px;" >Daftar Konsultasi Saya</h2>
                <a class="btn btn-primary" href="/konsultasi/add" style="margin: 12px; background-color: #31318B; font-weight: bold; border: none; width:30%;">Buat Request Konsultasi +</a>
                <br>
            </div>
<!--            change-->
            <div class="card mt-3">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs" data-bs-tabs="tabs">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="true" data-bs-toggle="tab" href="#konsultasi-saya-today">Hari Ini</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#konsultasi-saya-pending">Pending</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#konsultasi-saya-diterima">Diterima</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#konsultasi-saya-ditolak">Ditolak</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#konsultasi-saya-ditutup">Ditutup</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#konsultasi-saya-kadaluarsa">Kadaluarsa</a>
                        </li>
                    </ul>
                </div>
                <card class="card-body tab-content">
                    <div class="tab-pane active" id="konsultasi-saya-today">
                        <div th:if="*{listMySiswaKonsultasiHariIni.size() != 0}">
                            <table style="margin: 20px;" class="table table-striped" id="konsultasi-saya-table1">
                                <thead style="background-color: #31318B; color: #ffffff">
                                <tr>
                                    <th scope="col">No</th>
                                    <th scope="col">Pengajar</th>
                                    <th scope="col">Mata Pelajaran</th>
                                    <th scope="col">Waktu</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Aksi</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="siswaKonsultasi, iterationStatus : ${listMySiswaKonsultasiHariIni}">
                                    <td th:text="${iterationStatus.count}"></td>
                                    <td th:text="${siswaKonsultasi.konsultasi.pengajarKonsul.name}"></td>
                                    <td th:text="${siswaKonsultasi.konsultasi.mapelKonsul.name}"></td>
                                    <td th:text="${#temporals.format(siswaKonsultasi.konsultasi.startTime, 'HH:mm')} + ' - ' +${#temporals.format(siswaKonsultasi.konsultasi.endTime, 'HH:mm')}"></td>
                                    <td th:if="${siswaKonsultasi.konsultasi.status.toString().equals('PENDING')}">
                                        <span class="rounded-pill badge bg-warning mt-2" th:text="${siswaKonsultasi.konsultasi.status.displayValue}"></span>
                                    </td>
                                    <td th:if="${siswaKonsultasi.konsultasi.status.toString().equals('DITERIMA')}">
                                        <span class="rounded-pill badge bg-success mt-2" th:text="${siswaKonsultasi.konsultasi.status.displayValue}"></span>
                                    </td>
                                    <td th:if="${siswaKonsultasi.konsultasi.status.toString().equals('DITOLAK')}">
                                        <span class="rounded-pill badge bg-danger mt-2" th:text="${siswaKonsultasi.konsultasi.status.displayValue}"></span>
                                    </td>
                                    <td th:if="${siswaKonsultasi.konsultasi.status.toString().equals('DITUTUP')}">
                                        <span class="rounded-pill badge bg-dark mt-2" th:text="${siswaKonsultasi.konsultasi.status.displayValue}"></span>
                                    </td>
                                    <td th:if="${siswaKonsultasi.konsultasi.status.toString().equals('KADALUARSA')}">
                                        <span class="rounded-pill badge bg-secondary mt-2" th:text="${siswaKonsultasi.konsultasi.status.displayValue}"></span>
                                    </td>
                                    <td>
                                        <a class="btn btn-outline-primary align-content-center" th:href="@{/konsultasi/view/} + ${siswaKonsultasi.konsultasi.id}">Detail</a>
                                    </td>

                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div th:unless="${listMySiswaKonsultasiHariIni.size() != 0}">
                            <p>Tidak ada jadwal konsultasi hari ini</p>
                        </div>
                    </div>


                    <div class="tab-pane" id="konsultasi-saya-pending">
                        <!--awal-->
                        <div th:if="*{listMySiswaKonsultasiPending.size() != 0}">
                            <table style="margin: 20px;" class="table table-striped" id="konsultasi-saya-table2">
                                <thead style="background-color: #31318B; color: #ffffff">
                                <tr>
                                    <th scope="col">No</th>
                                    <th scope="col">Pengajar</th>
                                    <th scope="col">Mata Pelajaran</th>
                                    <th scope="col">Tanggal</th>
                                    <th scope="col">Waktu</th>
                                    <th scope="col">Aksi</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="siswaKonsultasi, iterationStatus : ${listMySiswaKonsultasiPending}">
                                    <td th:text="${iterationStatus.count}"></td>
                                    <td th:text="${siswaKonsultasi.konsultasi.pengajarKonsul.name}"></td>
                                    <td th:text="${siswaKonsultasi.konsultasi.mapelKonsul.name}"></td>
                                    <td th:text="${#temporals.format(siswaKonsultasi.konsultasi.startTime, 'dd MMMM yyyy')}"></td>
                                    <td th:text="${#temporals.format(siswaKonsultasi.konsultasi.startTime, 'HH:mm')} + ' - ' +${#temporals.format(siswaKonsultasi.konsultasi.endTime, 'HH:mm')}"></td>
                                    <td>
                                        <a class="btn btn-outline-primary align-content-center" th:href="@{/konsultasi/view/} + ${siswaKonsultasi.konsultasi.id}">Detail</a>
                                    </td>

                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div th:unless="${listMySiswaKonsultasiPending.size() != 0}">
                            <p>Tidak ada jadwal konsultasi pending</p>
                        </div>
                        <!--                        akhir-->

                    </div>

                    <div class="tab-pane" id="konsultasi-saya-diterima">
                        <!--awal-->
                        <div th:if="*{listMySiswaKonsultasiDiterima.size() != 0}">
                            <table style="margin: 20px;" class="table table-striped" id="konsultasi-saya-table3">
                                <thead style="background-color: #31318B; color: #ffffff">
                                <tr>
                                    <th scope="col">No</th>
                                    <th scope="col">Pengajar</th>
                                    <th scope="col">Mata Pelajaran</th>
                                    <th scope="col">Tanggal</th>
                                    <th scope="col">Waktu</th>
                                    <th scope="col">Aksi</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="siswaKonsultasi, iterationStatus : ${listMySiswaKonsultasiDiterima}">
                                    <td th:text="${iterationStatus.count}"></td>
                                    <td th:text="${siswaKonsultasi.konsultasi.pengajarKonsul.name}"></td>
                                    <td th:text="${siswaKonsultasi.konsultasi.mapelKonsul.name}"></td>
                                    <td th:text="${#temporals.format(siswaKonsultasi.konsultasi.startTime, 'dd MMMM yyyy')}"></td>
                                    <td th:text="${#temporals.format(siswaKonsultasi.konsultasi.startTime, 'HH:mm')} + ' - ' +${#temporals.format(siswaKonsultasi.konsultasi.endTime, 'HH:mm')}"></td>
                                    <td>
                                        <a class="btn btn-outline-primary align-content-center" th:href="@{/konsultasi/view/} + ${siswaKonsultasi.konsultasi.id}">Detail</a>
                                    </td>

                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div th:unless="${listMySiswaKonsultasiDiterima.size() != 0}">
                            <p>Tidak ada jadwal konsultasi yang diterima</p>
                        </div>

                        <!--                        akhir-->

                    </div>

                    <div class="tab-pane" id="konsultasi-saya-ditolak">
                        <!--awal-->
                        <div th:if="*{listMySiswaKonsultasiDitolak.size() != 0}">
                            <table style="margin: 20px;" class="table table-striped" id="konsultasi-saya-table4">
                                <thead style="background-color: #31318B; color: #ffffff">
                                <tr>
                                    <th scope="col">No</th>
                                    <th scope="col">Pengajar</th>
                                    <th scope="col">Mata Pelajaran</th>
                                    <th scope="col">Tanggal</th>
                                    <th scope="col">Waktu</th>
                                    <th scope="col">Aksi</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="siswaKonsultasi, iterationStatus : ${listMySiswaKonsultasiDitolak}">
                                    <td th:text="${iterationStatus.count}"></td>
                                    <td th:text="${siswaKonsultasi.konsultasi.pengajarKonsul.name}"></td>
                                    <td th:text="${siswaKonsultasi.konsultasi.mapelKonsul.name}"></td>
                                    <td th:text="${#temporals.format(siswaKonsultasi.konsultasi.startTime, 'dd MMMM yyyy')}"></td>
                                    <td th:text="${#temporals.format(siswaKonsultasi.konsultasi.startTime, 'HH:mm')} + ' - ' +${#temporals.format(siswaKonsultasi.konsultasi.endTime, 'HH:mm')}"></td>
                                    <td>
                                        <a class="btn btn-outline-primary align-content-center" th:href="@{/konsultasi/view/} + ${siswaKonsultasi.konsultasi.id}">Detail</a>
                                    </td>

                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div th:unless="${listMySiswaKonsultasiDitolak.size() != 0}">
                            <p>Tidak ada jadwal konsultasi yang ditolak</p>
                        </div>
                        <!--                        akhir-->

                    </div>

                    <div class="tab-pane" id="konsultasi-saya-ditutup">
                        <!--awal-->
                        <div th:if="*{listMySiswaKonsultasiDitutup.size() != 0}">
                            <table style="margin: 20px;" class="table table-striped" id="konsultasi-saya-table5">
                                <thead style="background-color: #31318B; color: #ffffff">
                                <tr>
                                    <th scope="col">No</th>
                                    <th scope="col">Pengajar</th>
                                    <th scope="col">Mata Pelajaran</th>
                                    <th scope="col">Tanggal</th>
                                    <th scope="col">Waktu</th>
                                    <th scope="col">Aksi</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="siswaKonsultasi, iterationStatus : ${listMySiswaKonsultasiDitutup}">
                                    <td th:text="${iterationStatus.count}"></td>
                                    <td th:text="${siswaKonsultasi.konsultasi.pengajarKonsul.name}"></td>
                                    <td th:text="${siswaKonsultasi.konsultasi.mapelKonsul.name}"></td>
                                    <td th:text="${#temporals.format(siswaKonsultasi.konsultasi.startTime, 'dd MMMM yyyy')}"></td>
                                    <td th:text="${#temporals.format(siswaKonsultasi.konsultasi.startTime, 'HH:mm')} + ' - ' +${#temporals.format(siswaKonsultasi.konsultasi.endTime, 'HH:mm')}"></td>
                                    <td>
                                        <a class="btn btn-outline-primary align-content-center" th:href="@{/konsultasi/view/} + ${siswaKonsultasi.konsultasi.id}">Detail</a>
                                    </td>

                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div th:unless="${listMySiswaKonsultasiDitutup.size() != 0}">
                            <p>Tidak ada jadwal konsultasi yang ditutup</p>
                        </div>
                        <!--                        akhir-->

                    </div>

                    <div class="tab-pane" id="konsultasi-saya-kadaluarsa">
                        <!--awal-->
                        <div th:if="*{listMySiswaKonsultasiKadaluarsa.size() != 0}">
                            <table style="margin: 20px;" class="table table-striped" id="konsultasi-saya-table6">
                                <thead style="background-color: #31318B; color: #ffffff">
                                <tr>
                                    <th scope="col">No</th>
                                    <th scope="col">Pengajar</th>
                                    <th scope="col">Mata Pelajaran</th>
                                    <th scope="col">Tanggal</th>
                                    <th scope="col">Waktu</th>
                                    <th scope="col">Aksi</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="siswaKonsultasi, iterationStatus : ${listMySiswaKonsultasiKadaluarsa}">
                                    <td th:text="${iterationStatus.count}"></td>
                                    <td th:text="${siswaKonsultasi.konsultasi.pengajarKonsul.name}"></td>
                                    <td th:text="${siswaKonsultasi.konsultasi.mapelKonsul.name}"></td>
                                    <td th:text="${#temporals.format(siswaKonsultasi.konsultasi.startTime, 'dd MMMM yyyy')}"></td>
                                    <td th:text="${#temporals.format(siswaKonsultasi.konsultasi.startTime, 'HH:mm')} + ' - ' +${#temporals.format(siswaKonsultasi.konsultasi.endTime, 'HH:mm')}"></td>
                                    <td>
                                        <a class="btn btn-outline-primary align-content-center" th:href="@{/konsultasi/view/} + ${siswaKonsultasi.konsultasi.id}">Detail</a>
                                    </td>

                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div th:unless="${listMySiswaKonsultasiKadaluarsa.size() != 0}">
                            <p>Tidak ada jadwal konsultasi yang kadaluarsa</p>
                        </div>
                        <!--                        akhir-->

                    </div>
                </card>
            </div>
<!--            change-->

        </div>
    </div>
</div>


<div class="container" style="width:90%; padding-top:20px;">
    <div class="card m-4 p-4">
        <div class="justify-content-center">
            <div style="margin: auto; padding-top: 10px; width: 100%; padding: 20px; text-align: center">
                <h2 style="font-weight: bold; padding-top: 10px;">Daftar Konsultasi</h2>
                <h4 style="font-weight: bold; padding-top: 10px;" th:text="${siswa.jenjang.getDisplayValue()}" ></h4>
                <br>
                <br>
            </div>
<!--            new-->
            <div class="card mt-3">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs" data-bs-tabs="tabs">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="true" data-bs-toggle="tab" href="#konsultasi-jenjang-today">Hari Ini</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#konsultasi-jenjang-pending">Pending</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#konsultasi-jenjang-diterima">Diterima</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#konsultasi-jenjang-ditolak">Ditolak</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#konsultasi-jenjang-ditutup">Ditutup</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#konsultasi-jenjang-kadaluarsa">Kadaluarsa</a>
                        </li>
                    </ul>
                </div>
                <card class="card-body tab-content">
                    <div class="tab-pane active" id="konsultasi-jenjang-today">
                        <div th:if="*{listKonsultasiJenjangHariIni.size() != 0}">
                            <table style="margin: 20px;" class="table table-striped" id="konsultasi-jenjang-table1">
                                <thead style="background-color: #31318B; color: #ffffff">
                                <tr>
                                    <th scope="col">No</th>
                                    <th scope="col">Pengajar</th>
                                    <th scope="col">Mata Pelajaran</th>
                                    <th scope="col">Waktu</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Aksi</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="konsultasi, iterationStatus : ${listKonsultasiJenjangHariIni}">
                                    <td th:text="${iterationStatus.count}"></td>
                                    <td th:text="${konsultasi.pengajarKonsul.name}"></td>
                                    <td th:text="${konsultasi.mapelKonsul.name}"></td>
                                    <td th:text="${#temporals.format(konsultasi.startTime, 'HH:mm')} + ' - ' +${#temporals.format(konsultasi.endTime, 'HH:mm')}"></td>
                                    <td th:if="${konsultasi.status.toString().equals('PENDING')}">
                                        <span class="rounded-pill badge bg-warning mt-2" th:text="${konsultasi.status.displayValue}"></span>
                                    </td>
                                    <td th:if="${konsultasi.status.toString().equals('DITERIMA')}">
                                        <span class="rounded-pill badge bg-success mt-2" th:text="${konsultasi.status.displayValue}"></span>
                                    </td>
                                    <td th:if="${konsultasi.status.toString().equals('DITOLAK')}">
                                        <span class="rounded-pill badge bg-danger mt-2" th:text="${konsultasi.status.displayValue}"></span>
                                    </td>
                                    <td th:if="${konsultasi.status.toString().equals('DITUTUP')}">
                                        <span class="rounded-pill badge bg-dark mt-2" th:text="${konsultasi.status.displayValue}"></span>
                                    </td>
                                    <td th:if="${konsultasi.status.toString().equals('KADALUARSA')}">
                                        <span class="rounded-pill badge bg-secondary mt-2" th:text="${konsultasi.status.displayValue}"></span>
                                    </td>
                                    <td>
                                        <a class="btn btn-outline-primary align-content-center" th:href="@{/konsultasi/view/} + ${konsultasi.id}">Detail</a>

                                    </td>

                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div th:unless="${listKonsultasiJenjangHariIni.size() != 0}">
                            <p>Tidak ada jadwal konsultasi hari ini</p>
                        </div>
                    </div>


                    <div class="tab-pane" id="konsultasi-jenjang-pending">
                        <!--awal-->
                        <div th:if="*{listKonsultasiJenjangPending.size() != 0}">
                            <table style="margin: 20px;" class="table table-striped" id="konsultasi-jenjang-table2">
                                <thead style="background-color: #31318B; color: #ffffff">
                                <tr>
                                    <th scope="col">No</th>
                                    <th scope="col">Pengajar</th>
                                    <th scope="col">Mata Pelajaran</th>
                                    <th scope="col">Tanggal</th>
                                    <th scope="col">Waktu</th>
                                    <th scope="col">Aksi</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="konsultasi, iterationStatus : ${listKonsultasiJenjangPending}">
                                    <td th:text="${iterationStatus.count}"></td>
                                    <td th:text="${konsultasi.pengajarKonsul.name}"></td>
                                    <td th:text="${konsultasi.mapelKonsul.name}"></td>
                                    <td th:text="${#temporals.format(konsultasi.startTime, 'dd MMMM yyyy')}"></td>
                                    <td th:text="${#temporals.format(konsultasi.startTime, 'HH:mm')} + ' - ' +${#temporals.format(konsultasi.endTime, 'HH:mm')}"></td>
                                    <td>
                                        <a class="btn btn-outline-primary align-content-center" th:href="@{/konsultasi/view/} + ${konsultasi.id}">Detail</a>
                                    </td>

                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div th:unless="${listKonsultasiJenjangPending.size() != 0}">
                            <p>Tidak ada jadwal konsultasi pending</p>
                        </div>
<!--                        akhir-->

                    </div>

                    <div class="tab-pane" id="konsultasi-jenjang-diterima">
                        <!--awal-->
                        <div th:if="*{listKonsultasiJenjangDiterima.size() != 0}">
                            <table style="margin: 20px;" class="table table-striped" id="konsultasi-jenjang-table3">
                                <thead style="background-color: #31318B; color: #ffffff">
                                <tr>
                                    <th scope="col">No</th>
                                    <th scope="col">Pengajar</th>
                                    <th scope="col">Mata Pelajaran</th>
                                    <th scope="col">Tanggal</th>
                                    <th scope="col">Waktu</th>
                                    <th scope="col">Aksi</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="konsultasi, iterationStatus : ${listKonsultasiJenjangDiterima}">
                                    <td th:text="${iterationStatus.count}"></td>
                                    <td th:text="${konsultasi.pengajarKonsul.name}"></td>
                                    <td th:text="${konsultasi.mapelKonsul.name}"></td>
                                    <td th:text="${#temporals.format(konsultasi.startTime, 'dd MMMM yyyy')}"></td>
                                    <td th:text="${#temporals.format(konsultasi.startTime, 'HH:mm')} + ' - ' +${#temporals.format(konsultasi.endTime, 'HH:mm')}"></td>
                                    <td>
                                        <a class="btn btn-outline-primary align-content-center" th:href="@{/konsultasi/view/} + ${konsultasi.id}">Detail</a>

                                    </td>

                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div th:unless="${listKonsultasiJenjangDiterima.size() != 0}">
                            <p>Tidak ada jadwal konsultasi yang diterima</p>
                        </div>

                        <!--                        akhir-->

                    </div>

                    <div class="tab-pane" id="konsultasi-jenjang-ditolak">
                        <!--awal-->
                        <div th:if="*{listKonsultasiJenjangDitolak.size() != 0}">
                            <table style="margin: 20px;" class="table table-striped" id="konsultasi-jenjang-table4">
                                <thead style="background-color: #31318B; color: #ffffff">
                                <tr>
                                    <th scope="col">No</th>
                                    <th scope="col">Pengajar</th>
                                    <th scope="col">Mata Pelajaran</th>
                                    <th scope="col">Tanggal</th>
                                    <th scope="col">Waktu</th>
                                    <th scope="col">Aksi</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="konsultasi, iterationStatus : ${listKonsultasiJenjangDitolak}">
                                    <td th:text="${iterationStatus.count}"></td>
                                    <td th:text="${konsultasi.pengajarKonsul.name}"></td>
                                    <td th:text="${konsultasi.mapelKonsul.name}"></td>
                                    <td th:text="${#temporals.format(konsultasi.startTime, 'dd MMMM yyyy')}"></td>
                                    <td th:text="${#temporals.format(konsultasi.startTime, 'HH:mm')} + ' - ' +${#temporals.format(konsultasi.endTime, 'HH:mm')}"></td>
                                    <td>
                                        <a class="btn btn-outline-primary align-content-center" th:href="@{/konsultasi/view/} + ${konsultasi.id}">Detail</a>

                                    </td>

                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div th:unless="${listKonsultasiJenjangDitolak.size() != 0}">
                            <p>Tidak ada jadwal konsultasi yang ditolak</p>
                        </div>
                        <!--                        akhir-->

                    </div>

                    <div class="tab-pane" id="konsultasi-jenjang-ditutup">
                        <!--awal-->
                        <div th:if="*{listKonsultasiJenjangDitutup.size() != 0}">
                            <table style="margin: 20px;" class="table table-striped" id="konsultasi-jenjang-table5">
                                <thead style="background-color: #31318B; color: #ffffff">
                                <tr>
                                    <th scope="col">No</th>
                                    <th scope="col">Pengajar</th>
                                    <th scope="col">Mata Pelajaran</th>
                                    <th scope="col">Tanggal</th>
                                    <th scope="col">Waktu</th>
                                    <th scope="col">Aksi</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="konsultasi, iterationStatus : ${listKonsultasiJenjangDitutup}">
                                    <td th:text="${iterationStatus.count}"></td>
                                    <td th:text="${konsultasi.pengajarKonsul.name}"></td>
                                    <td th:text="${konsultasi.mapelKonsul.name}"></td>
                                    <td th:text="${#temporals.format(konsultasi.startTime, 'dd MMMM yyyy')}"></td>
                                    <td th:text="${#temporals.format(konsultasi.startTime, 'HH:mm')} + ' - ' +${#temporals.format(konsultasi.endTime, 'HH:mm')}"></td>
                                    <td>
                                        <a class="btn btn-outline-primary align-content-center" th:href="@{/konsultasi/view/} + ${konsultasi.id}">Detail</a>

                                    </td>

                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div th:unless="${listKonsultasiJenjangDitutup.size() != 0}">
                            <p>Tidak ada jadwal konsultasi yang ditutup</p>
                        </div>
                        <!--                        akhir-->

                    </div>

                    <div class="tab-pane" id="konsultasi-jenjang-kadaluarsa">
                        <!--awal-->
                        <div th:if="*{listKonsultasiJenjangKadaluarsa.size() != 0}">
                            <table style="margin: 20px;" class="table table-striped" id="konsultasi-jenjang-table6">
                                <thead style="background-color: #31318B; color: #ffffff">
                                <tr>
                                    <th scope="col">No</th>
                                    <th scope="col">Pengajar</th>
                                    <th scope="col">Mata Pelajaran</th>
                                    <th scope="col">Tanggal</th>
                                    <th scope="col">Waktu</th>
                                    <th scope="col">Aksi</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="konsultasi, iterationStatus : ${listKonsultasiJenjangKadaluarsa}">
                                    <td th:text="${iterationStatus.count}"></td>
                                    <td th:text="${konsultasi.pengajarKonsul.name}"></td>
                                    <td th:text="${konsultasi.mapelKonsul.name}"></td>
                                    <td th:text="${#temporals.format(konsultasi.startTime, 'dd MMMM yyyy')}"></td>
                                    <td th:text="${#temporals.format(konsultasi.startTime, 'HH:mm')} + ' - ' +${#temporals.format(konsultasi.endTime, 'HH:mm')}"></td>
                                    <td>
                                        <a class="btn btn-outline-primary align-content-center" th:href="@{/konsultasi/view/} + ${konsultasi.id}">Detail</a>

                                    </td>

                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div th:unless="${listKonsultasiJenjangKadaluarsa.size() != 0}">
                            <p>Tidak ada jadwal konsultasi yang kadaluarsa</p>
                        </div>
                        <!--                        akhir-->

                    </div>
                </card>
            </div>
<!--            end new-->


        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        var t = $('#konsultasi-table').DataTable({
            columnDefs: [
                {
                    searchable: false,
                    orderable: false,
                    targets: 0,
                },
            ],
            order: [1, 'asc'],
        });

        var t = $('#mykonsultasi-table').DataTable({
            columnDefs: [
                {
                    searchable: false,
                    orderable: false,
                    targets: 0,
                },
            ],
            order: [1, 'asc'],
        });

        var t = $('#konsultasi-jenjang-table1').DataTable({
            columnDefs: [
                {
                    searchable: false,
                    orderable: false,
                    targets: 0,
                },
            ],
            order: [1, 'asc'],
        });

        var t = $('#konsultasi-jenjang-table2').DataTable({
            columnDefs: [
                {
                    searchable: false,
                    orderable: false,
                    targets: 0,
                },
            ],
            order: [1, 'asc'],
        });

        var t = $('#konsultasi-jenjang-table3').DataTable({
            columnDefs: [
                {
                    searchable: false,
                    orderable: false,
                    targets: 0,
                },
            ],
            order: [1, 'asc'],
        });

        var t = $('#konsultasi-jenjang-table4').DataTable({
            columnDefs: [
                {
                    searchable: false,
                    orderable: false,
                    targets: 0,
                },
            ],
            order: [1, 'asc'],
        });

        var t = $('#konsultasi-jenjang-table5').DataTable({
            columnDefs: [
                {
                    searchable: false,
                    orderable: false,
                    targets: 0,
                },
            ],
            order: [1, 'asc'],
        });

        var t = $('#konsultasi-jenjang-table6').DataTable({
            columnDefs: [
                {
                    searchable: false,
                    orderable: false,
                    targets: 0,
                },
            ],
            order: [1, 'asc'],
        });

        var t = $('#konsultasi-saya-table1').DataTable({
            columnDefs: [
                {
                    searchable: false,
                    orderable: false,
                    targets: 0,
                },
            ],
            order: [1, 'asc'],
        });

        var t = $('#konsultasi-saya-table2').DataTable({
            columnDefs: [
                {
                    searchable: false,
                    orderable: false,
                    targets: 0,
                },
            ],
            order: [1, 'asc'],
        });

        var t = $('#konsultasi-saya-table3').DataTable({
            columnDefs: [
                {
                    searchable: false,
                    orderable: false,
                    targets: 0,
                },
            ],
            order: [1, 'asc'],
        });

        var t = $('#konsultasi-saya-table4').DataTable({
            columnDefs: [
                {
                    searchable: false,
                    orderable: false,
                    targets: 0,
                },
            ],
            order: [1, 'asc'],
        });

        var t = $('#konsultasi-saya-table5').DataTable({
            columnDefs: [
                {
                    searchable: false,
                    orderable: false,
                    targets: 0,
                },
            ],
            order: [1, 'asc'],
        });

        var t = $('#konsultasi-saya-table6').DataTable({
            columnDefs: [
                {
                    searchable: false,
                    orderable: false,
                    targets: 0,
                },
            ],
            order: [1, 'asc'],
        });

        t.on('order.dt search.dt', function () {
            let i = 1;

            t.cells(null, 0, { search: 'applied', order: 'applied' }).every(function (cell) {
                this.data(i++);
            });
        }).draw();
    });
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>