<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <title>Detail Konsultasi</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
  <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css" integrity="sha384-b6lVK+yci+bfDmaY1u0zE8YYJt0TZxLEAFyYSLHId4xoVvsrQu3INevFKo+Xir8e" crossorigin="anonymous">

  <link href='https://fonts.googleapis.com/css?family=DM Sans' rel='stylesheet'>
  <style>
    body {
      font-family: 'DM Sans' ;
    }
  </style>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar (${'user'})"></nav>
<div class="container" style="margin-top: 5rem; margin-bottom: 5rem">
  <div class="row">
    <div class="col-lg-4">
      <h5 style="font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 140%;">Data Konsultasi</h5>
      <div class="card mt-3">
        <div class="card-body">
          <div class="row">
              <div class="col">
              <p style="font-weight: bold">Nama Pengajar</p>
            </div>
            <div class="col">
              <p th:text="${konsultasi.pengajarKonsul.name}"></p>
            </div>
          </div>
          <div class="row">
              <div class="col">
              <p style="font-weight: bold">Mata Pelajaran</p>
            </div>
            <div class="col">
              <p th:text="${konsultasi.mapelKonsul.name}"></p>
            </div>
          </div>
          <div class="row">
              <div class="col">
              <p style="font-weight: bold">Topik</p>
            </div>
            <div class="col">
              <p th:text="${konsultasi.topic}"></p>
            </div>
          </div>
          <div class="row">
              <div class="col">
              <p style="font-weight: bold">Tanggal Konsultasi</p>
            </div>
            <div class="col">
              <p th:text="${#temporals.format(konsultasi.startTime, 'dd MMMM yyyy')}"></p>
            </div>
          </div>
          <div class="row">
              <div class="col">
              <p style="font-weight: bold">Waktu</p>
            </div>
            <div class="col">
              <p th:text="${#temporals.format(konsultasi.startTime, 'HH:mm')} + ' - ' +${#temporals.format(konsultasi.endTime, 'HH:mm')}"></p>
            </div>
          </div>
          <div class="row">
              <div class="col">
              <p style="font-weight: bold">Jumlah Peserta</p>
            </div>
            <div class="col">
              <p th:text="${listSiswaKonsultasi.size()}"></p>
            </div>
          </div>
          <div class="row">
              <div class="col">
              <p style="font-weight: bold">Status</p>
            </div>
            <div class="col">
              <p th:if="${konsultasi.status.toString().equals('PENDING')}" class="rounded-pill badge bg-warning"  th:text="${konsultasi.status.displayValue}"></p>
              <p th:if="${konsultasi.status.toString().equals('DITERIMA')}" class="rounded-pill badge bg-success"  th:text="${konsultasi.status.displayValue}"></p>
              <p th:if="${konsultasi.status.toString().equals('DITOLAK')}" class="rounded-pill badge bg-danger" th:text="${konsultasi.status.displayValue}"></p>
              <p th:if="${konsultasi.status.toString().equals('DITUTUP')}" class="rounded-pill badge bg-dark" th:text="${konsultasi.status.displayValue}"></p>
              <p th:if="${konsultasi.status.toString().equals('KADALUARSA')}" class="rounded-pill badge bg-secondary" th:text="${konsultasi.status.displayValue}"></p>
            </div>
          </div>
        </div>
      </div>
        <br>
        <div style="padding-bottom: 6px">
            <a class="btn btn-primary w-100" style="background-color: #E2EEFD; color: #0A2647; font-weight: bold; outline-color: #82B0D9" href="/konsultasi">Lihat Daftar Konsultasi</a>
        </div>
          <span th:if="${role.equals('SISWA')}">
            <a th:if="${isCancelable == true}" class="btn btn-outline-danger w-100" style="font-weight: bold" data-toggle="modal" data-target="#modal-cancel">Batalkan Konsultasi</a>
            <!-- Modal -->
                    <div class="modal fade" id="modal-cancel" tabindex="-1" role="dialog" aria-labelledby="popupLabel1" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="popupLabel1"><strong>Konfirmasi Batal Mengikuti Konsultasi</strong></h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Apakah Anda yakin ingin batal mengikuti konsultasi ini?
                                    <br>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
                                    <a class="btn btn-primary"  style="background-color: #31318B; border-color: #31318B" th:href="@{/konsultasi/cancel/} + ${konsultasi.id}">Yakin</a>
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>
            <!--end modal-->

            <a th:if="${isJoinable == true}" class="btn btn-primary w-100" style="background-color: #31318B; font-weight: bold"data-toggle="modal" data-target="#modal-join">+ Ikuti Konsultasi</a>
            <!-- Modal -->
                    <div class="modal fade" id="modal-join" tabindex="-1" role="dialog" aria-labelledby="popupLabel2" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="popupLabel2"><strong>Konfirmasi Mengikuti Konsultasi</strong></h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Apakah Anda yakin ingin mengikuti konsultasi ini?
                                    <br>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
<!--                                    <a class="btn btn-primary"  style="background-color: #31318B; border-color: #31318B" th:href="@{/konsultasi/join/} + ${konsultasi.id}">Yakin</a>-->
                                    <a class="btn btn-primary w-100" style="background-color: #E2EEFD" href="/konsultasi">Yakin</a>

                                </div>
                            </div>
                            <br>
                        </div>
                    </div>
            <!--end modal-->

            <a th:if="${isExtendable == true}" class="btn btn-primary w-100" style="background-color: #31318B; font-weight: bold" data-toggle="modal" data-target="#modal-extend">+ Extend Konsultasi</a>
              <!-- Modal -->
                    <div class="modal fade" id="modal-extend" tabindex="-1" role="dialog" aria-labelledby="popupLabel3" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="popupLabel3"><strong>Konfirmasi Extend Konsultasi</strong></h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Apakah Anda yakin ingin extend konsultasi ini?
                                    <br>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
<!--                                    <a class="btn btn-primary"  style="background-color: #31318B; border-color: #31318B" th:href="@{/konsultasi/extend/} + ${konsultasi.id}">Yakin</a>-->
                                    <a class="btn btn-primary w-100" style="background-color: #E2EEFD" href="/konsultasi">Yakin</a>
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>
              <!--end modal-->
          </span>
          <span th:if="${role.equals('PENGAJAR')}">
              <span th:if="${isToValidate == true}" >
                  <div style="padding-bottom: 6px">
                      <a class="btn btn-primary w-100" style="background-color: #31318B" data-toggle="modal" data-target="#modal-terima">Terima Konsultasi</a>
                  </div>
                  <!-- Modal -->
                    <div class="modal fade" id="modal-terima" tabindex="-1" role="dialog" aria-labelledby="popupLabel4" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="popupLabel4"><strong>Konfirmasi Terima Konsultasi</strong></h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Apakah Anda yakin ingin menerima konsultasi ini?
                                    <br>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
<!--                                    <a class="btn btn-primary"  style="background-color: #31318B; border-color: #31318B" th:href="@{/konsultasi/terima/} + ${konsultasi.id}">Yakin</a>-->
                                    <a class="btn btn-primary w-100" style="background-color: #E2EEFD" href="/konsultasi">Yakin</a>

                                </div>
                            </div>
                            <br>
                        </div>
                    </div>
                  <!--end modal-->

                  <a class="btn btn-outline-danger w-100" style="font-weight: bold" data-toggle="modal" data-target="#modal-tolak">Tolak Konsultasi</a>
                  <!-- Modal -->
                    <div class="modal fade" id="modal-tolak" tabindex="-1" role="dialog" aria-labelledby="popupLabel5" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="popupLabel5"><strong>Konfirmasi Tolak Konsultasi</strong></h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Apakah Anda yakin ingin menolak konsultasi ini?
                                    <br>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
<!--                                    <a class="btn btn-primary"  style="background-color: #31318B; border-color: #31318B" th:href="@{/konsultasi/tolak/} + ${konsultasi.id}">Yakin</a>-->
          <a class="btn btn-primary w-100" style="background-color: #E2EEFD" href="/konsultasi">Yakin</a>
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>
                  <!--end modal-->
              </span >
<!--          <a class="btn btn-primary w-100" style="background-color: #E2EEFD" th:href="@{/konsultasi/tutup/} + ${konsultasi.id}">Tutup Konsultasi</a>-->
          <a th:if="${isToClose == true}" class="btn btn-primary w-100" style="background-color: #31318B" href="/konsultasi">Tutup Konsultasi</a>
          </span>

    </div>
    <div class="col">
      <h5 style="font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 140%;">Daftar Siswa Konsultasi</h5>
      <div class="card mt-3">
        <card class="card-body tab-content">
          <div class="tab-pane active" id="data-siswa">
            <table class="table table-striped align-middle" id="kelas-table">
              <thead style="background-color: #31318B; color: #ffffff">
              <tr>
                <th scope="col">Nama</th>
                <th scope="col">Kelas</th>
              </tr>
              </thead>
              <tbody>
              <tr th:each="siswaKonsultasi, iterationStatus : ${listSiswaKonsultasi}">
                <td th:text="${siswaKonsultasi.siswaKonsul.name}"></td>
                <td th:text="${siswaKonsultasi.siswaKonsul.kelasBimbel.name}"></td>
              </tr>
              </tbody>
            </table>
          </div>

        </card>
      </div>
    </div>
  </div>
</div>



<script type="text/javascript">

  $(document).ready( () => {
    $('#topik-table').DataTable();
  });

</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>