<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8" >
    <title>Daftar Mata Pelajaran</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <object th:include="fragments/fragment :: style" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar (${'manajemen'},${isKakakAsuh})"></nav>
<div class="alert alert-danger alert-dismissible" role="alert" th:if="${error}" th:text="${error}">
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<div class="alert alert-success alert-dismissible" role="alert" th:if="${success}" th:text="${success}">
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<div class="container" style="margin-top:40px; width: 80%">
    <div class="justify-content-center">
        <div style="margin-top: 3rem; margin-bottom: 2rem; text-align: center;">
            <h2 style="font-weight: bold; margin-bottom: 0.75rem;" >Daftar Mata Pelajaran</h2>
            <a class="btn" href="/mapel/add" style="background-color: #31318B;  color: white;">Tambah Mata Pelajaran</a>
            <br>
        </div>
        <table style="margin-top: 100px;" class="table table-striped align-middle" id="mapel-table">
            <thead style="background-color: #31318B; color: #ffffff">
            <tr>
                <th scope="col">No</th>
                <th scope="col">Nama</th>
                <th scope="col">Singkatan</th>
                <th scope="col">Aksi</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="mapel, iterationStatus : ${listMapel}">
                <td th:text="${iterationStatus.index + 1}"></td>
                <td th:text="${mapel.name}"></td>
                <td th:text="${mapel.abbr}"></td>
                <td class="align-content-center">
                    <a class="btn btn-sm btn-outline-primary align-content-center" th:href="@{/mapel/detail/} + ${mapel.id}">Detail</a>
                </td>
            </tr>
            </tbody>
        </table>
        <br>
    </div>
</div>

</body>

<script type="text/javascript">

    $(document).ready( () => {
        $('#mapel-table').DataTable();

        window.setTimeout(function() {
            $(".alert").fadeTo(500, 0).slideUp(1000, function(){
                $(this).remove();
            });
        }, 2000);

    });

</script>
</html>

