<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <title>Update Mata Pelajaran</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <object th:include="fragments/fragment :: style" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar (${'Mapel'},${isKakakAsuh})"></nav>
<div class="alert alert-danger alert-dismissible" role="alert" th:if="${error}" th:text="${error}">
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<div class="container">
    <h2 style="font-weight: bold; padding: 1.5rem; margin-top: 1.5rem; text-align: center">Ubah Data Mata Pelajaran</h2>
    <div class="card m-4 p-4">
        <div class="card-body">
            <div class="justify-content-center">
                <br>
                <form th:action="@{/mapel/edit}" th:object="${mapel}" method="POST">
                    <input type="hidden" th:field="*{id}" />
                    <div class="mb-3">
                        Nama <br>
                        <input required class="form-control" type="text" th:field="*{name}"/>
                    </div>

                    <div class="mb-3">
                        Singkatan <br>
                        <input required class="form-control" type="text" th:field="*{abbr}"/>
                    </div>

                    <div class="mb-3">
                        Jenjang Sekolah <br>
                        <select required class="form-control" type="text" name="jenjangMapel">
                            <option value="smp" th:selected="${#strings.equals(jenjangMapel, 'smp')}">SMP</option>
                            <option value="sma" th:selected="${#strings.equals(jenjangMapel, 'sma')}">SMA</option>
                            <option value="smpsma" th:selected="${#strings.equals(jenjangMapel, 'smpsma')}">SMP & SMA</option>
                        </select>
                    </div>


                    <table class="table">
                        <thead>
                        <th>Pengajar</th>
                        <th>
                            <button class="btn btn-primary" type="submit" name="addRowPengajarUpdate">Tambah Row</button>
                        </th>
                        </thead>
                        <tbody>
                        <tr th:each="pengajarMapel, iterationStatus : *{listPengajarMapel}">
                            <td>
                                <select name="id"
                                        th:field="*{listPengajarMapel[__${iterationStatus.index}__].pengajar.id}"
                                        class="form-select">
                                    <div th:each="pengajarEx, iterationStatus2: ${listpengajar}">
                                        <option th:value="${pengajarEx.id}"
                                                th:text="${pengajarEx.name} + '  (' + ${pengajarEx.email} + ')'"></option>
                                    </div>

                                </select>
                            </td>
                            <td>
                                <button th:value="${iterationStatus.index}" class="btn btn-danger"
                                        type="submit" name="deleteRowPengajarUpdate">Hapus</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-update">Submit</button>
                    <a class="btn btn-outline-primary" href="/mapel">Kembali</a>

                    <div class="modal fade" id="modal-update" tabindex="-1" role="dialog" aria-labelledby="popupLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="popupLabel"><strong>Konfirmasi Ubah Data Mata Pelajaran</strong></h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Apakah Anda Yakin ingin mengubah data Mata Pelajaran? </br>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
                                    <button type="submit" name="save" class="btn btn-primary" style="background-color: #31318B; border-color: #31318B" >Ubah Data</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript">

    $(document).ready( () => {

        window.setTimeout(function() {
            $(".alert").fadeTo(500, 0).slideUp(1000, function(){
                $(this).remove();
            });
        }, 2000);

    });

</script>

</body>

</html>