<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <title>Tambah Kelas</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <object th:include="fragments/fragment :: style" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar (${'manajemen'},${isKakakAsuh})"></nav>
<div class="alert alert-danger alert-dismissible" role="alert" th:if="${error}" th:text="${error}">
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<div class="container">
    <h2 style="font-weight: bold; padding: 1.5rem; margin-top: 1.5rem; text-align: center">Tambah Mata Pelajaran</h2>
    <div class="card m-4 p-4" style="background-color: #F7FAFC">
        <div class="card-body">
            <div class="justify-content-center">
                <br>
                <form th:action="@{/mapel/add}" th:object="${mapel}" method="POST">

                    <div class="mb-3">
                        Nama <br>
                        <input required class="form-control" type="text" th:field="*{name}"/>
                    </div>

                    <div class="mb-3">
                        Singkatan <br>
                        <input required class="form-control" type="text" th:field="*{abbr}"/>
                    </div>

                    <div class="mb-3">
                        Jenjang Sekolah <br>
                        <select required class="form-control" type="text" name="jenjangMapel">
                            <option value="smp" th:selected="${jenjangMapel == smp}">SMP</option>
                            <option value="sma" th:selected="${jenjangMapel == sma}">SMA</option>
                            <option value="smpsma" th:selected="${jenjangMapel == smpsma}">SMP & SMA</option>
                        </select>
                    </div>


                    <table class="table">
                        <thead>
                        <th>Pengajar</th>
                        <th>
                            <button class="btn btn-primary" type="submit" name="addRowPengajar">Tambah Row</button>
                        </th>
                        </thead>
                        <tbody>
                        <tr th:each="pengajarMapel, iterationStatus : *{listPengajarMapel}">
                            <td>
                                <select name="id"
                                        th:field="*{listPengajarMapel[__${iterationStatus.index}__].pengajar.id}"
                                        class="form-select">
                                    <div th:each="pengajarEx, iterationStatus2: ${listpengajar}">
                                        <option th:value="${pengajarEx.id}"
                                                th:text="${pengajarEx.name} + '  (' + ${pengajarEx.email} + ')'"></option>
                                    </div>

                                </select>
                            </td>
                            <td>
                                <button th:value="${iterationStatus.index}" class="btn btn-danger"
                                        type="submit" name="deleteRowPengajar">Hapus</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>



                    <button class="btn btn-primary" type="submit" name="save">Submit</button>
                    <a class="btn btn-outline-primary" href="/mapel">Kembali</a>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    $(document).ready( () => {

        window.setTimeout(function() {
            $(".alert").fadeTo(500, 0).slideUp(1000, function(){
                $(this).remove();
            });
        }, 2000);

    });

</script>

</body>
</html>