<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <title>Buat Jadwal Kelas</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <link href='https://fonts.googleapis.com/css?family=DM Sans' rel='stylesheet'>

<body>
<style>
body {
    font-family: 'DM Sans';
}
.alert {
        position:fixed;
        top: 7rem;
        left: 5%;
        width: 90%;
        z-index:9999;
    }
</style>
<nav th:replace="fragments/fragment :: navbar(${'jadwalKelas'},${isKakakAsuh})"></nav>
<div class="alert alert-danger alert-dismissible d-flex align-items-center" role="alert" th:if="${message}" >
    <div class="d-flex align-items-center">
        <p th:text="${message}" style="margin-bottom: 0px; margin-top: 0px;"></p>
    </div>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<div class="container" style="width:75%; padding-top:20px;">
    <div style="margin: auto; width: 80%; text-align: center; padding-top: 20px">
        <h2 style="font-weight: bolder;">Tambah Jadwal Kelas</h2>
        <!-- <br>
        <div class="alert alert-danger" role="alert" th:text="${message}" th:if="${message}"></div> -->
    </div>
    
    <div class="card mt-3" style="background-color:#F7FAFC">
    <div class="card-body">
        <div class="justify-content-center">


            <form th:action="@{/jadwal-kelas/add}" th:object="${jadwalKelas}" method="POST"> 

                <div class="container">
                    <div class="row">
                        <p></p>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p style="font-weight: bold; color: #31318B">Tanggal</p>
                        </div>
                        <div class="col-4">
                            <input class="form-control" id="tanggal" type="date" name="tanggal" required/>
                        </div>
                        <div class="col">
                            <p style="font-weight: bold; color: #31318B">Kelas</p>
                        </div>
                        <div class="col-4">
                            <select class="form-select" id="kelas-dropdown" name="kelasDiajar" required disabled>
                                <option hidden disabled selected value>Pilih tanggal terlebih dahulu</option>
                                <option th:each="kelas, iterationStatus : ${listKelas}"
                                        th:value="${kelas.id}" 
                                        th:text="${kelas.name}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <p></p>
                    </div>
                    
                    <div class="row">
                        <div class="col">
                            <p style="font-weight: bold; color: #31318B">Jam</p>
                        </div>
                        <div class="col-4">
                            <table>
                                <tbody>
                                    <tr>
                                        <td>
                                            <input class="form-control" type="time" name="jam_mulai" required/>
                                        </td>
                                        <td></td>
                                        <td>
                                            -
                                        </td>
                                        <td></td>
                                        <td>
                                            <input class="form-control" type="time" name="jam_selesai" required/>
                                        </td>
                                    </tr>
                                </tbody>
        
                            </table>
                        </div>

                        <div class="col">
                            <p style="font-weight: bold; color: #31318B">Mata Pelajaran</p>
                            </div>
                            <div class="col-4">
                                <select class="form-select" id="mapel-dropdown" name="mapel" required>
                                    <option hidden disabled selected value>Pilih mata pelajaran...</option>
                                    <option th:each="mapel, iterationStatus : ${listMapel}"
                                            th:value="${mapel.id}" 
                                            th:text="${mapel.name}"></option>
                                </select>
                        </div>
                    </div>

                    <div class="row">
                        <p></p>
                    </div>

                    <div class="row">
                        <div class="col">
                            <p style="font-weight: bold; color: #31318B">Ruang Kelas</p>
                        </div>
                        <div class="col-4">
                            <select class="form-select" name="ruangKelas" th:value="*{ruangKelas}" required>
                                <option hidden disabled selected value>Pilih ruang kelas...</option>
                                <option th:each="ruang, iterationStatus : ${listRuangKelas}"
                                        th:value="${ruang}" 
                                        th:text="${ruang}"></option>
                            </select>  
                        </div>
                        <div class="col">
                            <p style="font-weight: bold; color: #31318B">Pengajar</p>
                        </div>
                        <div class="col-4">
                            <select class="form-select" id="pengajar-dropdown" name="pengajar" required disabled>
                                <option hidden disabled selected value style="color: #999;">Pilih mata pelajaran terlebih dahulu</option>
                                <!-- <option hidden disabled selected value>Pilih pengajar...</option>
                                <option th:each="pengajar, iterationStatus : ${listPengajar}"
                                        th:value="${pengajar.id}" 
                                        th:text="${pengajar.name}"></option> -->
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <p></p>
                        <p></p>
                    </div>


                    <div class="row">
                        <div class="col">
                          <p></p>
                        </div>
                        <div class="col-4">
                            <a class="btn btn-outline-secondary" style="display:block; width:100%; margin-top:20px;" th:href="@{/jadwal-kelas}">
                                Kembali
                            </a>
                        </div>
                        <div class="col-4">

                            <button class="btn btn-primary" type="submit" name="save" style="background-color: #31318B; border-color: #31318B; color: white; display:block; width:100%; margin-top:20px;">
                                Simpan
                            </button>

                        </div>
                        <div class="col">
                          <p></p>
                        </div>
                    </div>

                    <div class="row">
                        <p></p>
                    </div>
    
                </div>
  
            </form>
        </div>
    </div>
    </div>
</div>
 
</body>

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script type="text/javascript">
    $(document).ready(function () {
        
        window.setTimeout(function() {
          $(".alert").fadeTo(500, 0).slideUp(1000, function(){
              $(this).remove();
          });
        }, 4000);

        $("#mapel-dropdown").change(function(){
            // get id of selected team 
            var mapel_id=$(this).find(':selected').val();
            console.log(mapel_id);

            // set json url
            var json_url="/api/v1/jadwal-kelas/get-pengajar/mapel/" + mapel_id;
            $('#pengajar-dropdown').prop({"disabled": false, "required": true})

            
            // get json data
            jQuery.getJSON(json_url, function(data){
                $("#pengajar-dropdown").html("");
                   

                $("#pengajar-dropdown").append("<option hidden disabled selected value>Pilih pengajar...</option>");
                
                // put new dropdown values to pengajar dropdown
                jQuery.each(data, function(key, val){
                    $("#pengajar-dropdown").append("<option value='" + val.id + "'>" + val.name +  " (" + val.email + ")" + "</option>")
                });
                
            });
            
        });


        var today = new Date().toISOString().split('T')[0];
        $("#tanggal").attr('min', today);

        // Everything except weekend days
        const validate = dateString => {
        const day = (new Date(dateString)).getDay();
        if (day==0) {
            alert('Kelas tidak bisa diadakan di hari Minggu! Silakan pilih hari lain.');
            return false;
        }
        return true;
        }

        // Sets the value to '' in case of an invalid date
        document.querySelector('#tanggal').onchange = evt => {
            if (!validate(evt.target.value)) {
                evt.target.value = '';
            }
        }


        $("#tanggal").change(function(){
            console.log("tes");
            // get id of selected team 
            var datetime=$(this).val();
            const selectedDate = new Date(datetime);
            let day = selectedDate.getDay();
            //var pickedDay = datetime.getDay();
            console.log(day)

            // set json url
            var json_url="/api/v1/jadwal-kelas/get-kelas/hari/" + day;
            $('#kelas-dropdown').prop({"disabled": false, "required": true})
            
            // get json data
            jQuery.getJSON(json_url, function(data){
                $("#kelas-dropdown").html("");
                $("#kelas-dropdown").append("<option hidden disabled selected value>Pilih kelas...</option>");
                
                // put new dropdown values to pengajar dropdown
                jQuery.each(data, function(key, val){
                    $("#kelas-dropdown").append("<option value='" + val.id + "'>" + val.name + "</option>")
                });
                
            });
            
        });
  })
</script>


</html>
