<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <title>Daftar Jadwal Kelas</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <link href='https://fonts.googleapis.com/css?family=DM Sans' rel='stylesheet'>
<body>
<style>
    body {
        font-family: 'DM Sans';
    }
</style>
<nav th:replace="fragments/fragment :: navbar(${'jadwalKelas'},${isKakakAsuh})"></nav>

<div class="alert alert-danger alert-dismissible d-flex align-items-center" role="alert" th:if="${deletefailed}" >
    <div class="d-flex align-items-center">
        <p th:text="${deletefailed}" style="margin-bottom: 0px; margin-top: 0px;"></p>
    </div>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<div class="alert alert-success alert-dismissible d-flex align-items-center" role="alert" th:if="${message}">
    <div class="d-flex align-items-center">
        <p th:text="${message}" style="margin-bottom: 0px; margin-top: 0px;"></p>
    </div>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>


<div class="container" style="width:75%; padding-top:20px;">
    <div class="justify-content-center">
        <div style="margin: auto; padding-top: 10px; width: 80%; padding: 20px; text-align: center">
            <h2 style="font-weight: bold; padding-top: 10px;" >Daftar Jadwal Kelas</h2>
            <div sec:authorize="hasRole('ADMIN')">
                <a class="btn" style="background-color: #31318B; color: white;" th:href="@{/jadwal-kelas/add}">Buat Jadwal</a>
            </div>
            <br>
        </div>
        <div th:if="${listJadwal.size() != 0}">
            <table style="margin: 20px;" class ="table table-striped" id="jadwalkelas-table">
                <thead style="background-color: #31318B; color: #ffffff">
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">Mata Pelajaran</th>
                    <th scope="col">Pengajar</th>
                    <th scope="col">Kelas</th>
                    <th scope="col">Ruang Kelas</th>
                    <th scope="col">Tanggal Kelas</th>
                    <th scope="col">Waktu Kelas</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                    <tr th:each="jadwal, iterationStatus : ${listJadwal}">
                        <th scope="row"></th>
                        <td th:text="${jadwal.mapelJadwal.name}"></td>
                        <td th:text="${jadwal.pengajarKelas.name}"></td>
                        <td th:text="${jadwal.kelas.name}"></td>
                        <td th:text="${jadwal.ruangKelas}"></td>
                        <td th:text="${#temporals.format(jadwal.startDateClass, 'dd MMMM yyyy')}"></td>
                        <td th:text="${#temporals.format(jadwal.startDateClass, 'HH:mm')} + ' - ' +${#temporals.format(jadwal.endDateClass, 'HH:mm')}"></td>
    
                        <td>
                            <div class="justify-content-center" sec:authorize="hasRole('ADMIN')">
                                <a class="btn btn-outline-primary align-content-center" th:href="@{/jadwal-kelas/} + ${jadwal.id}">Detail</a>               
                            </div>
                        </td>                 
                    </tr>
                </tbody>
            </table>
        </div>

        
        <br>
        <div th:unless="${listJadwal.size() != 0}" style="text-align: center;">
            <p>Tidak ada jadwal kelas!</p>
        </div>
    </div>
</div>




 
</body>

<script>
    $(document).ready(() => {
        window.setTimeout(function() {
          $(".alert").fadeTo(500, 0).slideUp(1000, function(){
              $(this).remove();
          });
      }, 4000);

        var t = $('#jadwalkelas-table').DataTable({
            columnDefs: [
                {
                    searchable: false,
                    orderable: false,
                    targets: 0,
                },
            ],
            order: [1, 'asc'],
        });
     
        t.on('order.dt search.dt', function () {
            let i = 1;
     
            t.cells(null, 0, { search: 'applied', order: 'applied' }).every(function (cell) {
                this.data(i++);
            });
        }).draw();

    });
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
</html>
